@{
    @model Model.capacityconfig
}
@section scripts{
    <script type='text/javascript'>
 
    $(document).ready(function () {
        
        $.fn.modal.Constructor.prototype.enforceFocus = function () { }
    });

    $(function () {
     $('.navigation ul li:nth-of-type(3) ul').attr("class", "nav nav-stacked in");
            $('.navigation ul li:nth-of-type(3) ul li:nth-of-type(4)').addClass('active');

        toastr.options = {
            "closeButton": true,//显示关闭按钮
            "positionClass": "toast-bottom-right",//弹出的位置
            "showDuration": "300",//显示的时间
            "hideDuration": "1000",//消失的时间
            "timeOut": "5000",//停留的时间
            "extendedTimeOut": "1000",//控制时间
            "showEasing": "swing",//显示时的动画缓冲方式
            "hideEasing": "linear",//消失时的动画缓冲方式
            "showMethod": "fadeIn",//显示时的动画方式
            "hideMethod": "fadeOut"//消失时的动画方式
        };
        $('#table').bootstrapTable({
            url: '/CapacityConfig/GetData',
            method: 'get',
            theadClasses: "thead-blue",
            pagination: true,
            sidePagination: "client",//分页方式：client客户端(前台)分页，server服务端（后台）分页（*）
            pageNumber: 1,//初始化加载第一页，默认第一页
            pageSize: 10,//每页的记录行数（*）
            pageList: [10, 25, 50, 100],//可供选择的每页的行数（*）
            columns: [{
                field: 'no',
                title: '序号',
                formatter: function (value, row, index) {
                    var options = $('#table').bootstrapTable('getOptions');
                    return index + 1;
                }
            }, {
                field: 'date',
                title: '日期',
                formatter: function (value, row, index) {
                    var date = row.date.toString();
                    var time = date.slice(0, 7)
                    return time;

                },

            }, {
                field: 'capacity',
                title: '月标准产能（件）'
            }, {
                field: 'actionEvent',
                title: '操作',
                align: 'center',
                valign: 'middle',
                formatter: actionFormatter,
                events: operateEvents
            }]
        });
    });
    //操作栏的格式化
    function actionFormatter(value, row, index) {
        var id = value;
        var result = "";
        result += "<a class='edit ml10'; href='javascript:;'  title='编辑'  style='font-size:32px;'><span class='icon-edit-sign'></span></a>";
        result += "<a class='remove ml10';  href='javascript:;' title='删除' data-toggle='modal'  style='font-size:32px;'><span class='icon-trash'></span></a>";
        return result;
    }
    window.operateEvents = {
        'click .edit': function (e, value, row, index) {
            document.getElementById("id").value = row.id;
            var date = row.date.toString();
            var time = date.slice(0, 7)
            document.getElementById("date").value = time;
            document.getElementById("capacity").value = row.capacity;
         
            $('#myEditModal').modal('show');
        },
        'click .remove': function (e, value, row, index) {
            document.getElementById("id").value = row.id;
            $('#myDelModal').modal('show');
        }
    };
      
    function clean() {
        $('#myEditModal').modal('show');
        document.getElementById("id").value = 0;
        document.getElementById("date").value = "";
        document.getElementById("capacity").value = "";
     
    }
    function Delete() {
        var id = $('#id').val();
        var person = {
            id: id
        };
        $.ajax({
            type: "POST",
            url: "/CapacityConfig/Delete",
            data: JSON.stringify(person),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (msg) {
                if (msg == "Success") {
                    toastr.success('数据删除成功!');
                    $('#myDelModal').modal('hide');
                    $('#table').bootstrapTable('refresh');
                } else {
                    toastr.error('执行失败!');
                }
            }, error: function (msg) {
                toastr.error('执行失败!');
            }
        });

    }
    function finish() {
        var id = $('#id').val();
        var date = $('#date').val();
        var capacity = $('#capacity').val();
     
        var ec = {
            id: id,
            date: date,
            capacity: parseInt(capacity),
          
        };
        if (id != 0) {
            $.ajax({
                type: "POST",
                url: "/CapacityConfig/Update",
                data: JSON.stringify(ec),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (msg) {
                    if (msg == "Success") {
                        toastr.success('数据更新成功!');
                        $('#myEditModal').modal('hide');
                        $('#table').bootstrapTable('refresh');
                    } else {
                        toastr.error('执行失败!当月的产能已存在');
                    }
                }, error: function (msg) {
                    toastr.error('执行失败!');
                }
            });
        } else {
            $.ajax({
                type: "POST",
                url: "/CapacityConfig/Add",
                data: JSON.stringify(ec),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (msg) {
                    if (msg == "Success") {
                        toastr.success('数据新增成功!');
                        $('#myEditModal').modal('hide');
                        $('#table').bootstrapTable('refresh');
                    } else {
                        toastr.error('执行失败!当月的产能已存在');
                    }
                }, error: function (msg) {
                    toastr.error('执行失败!');
                }
            });
        }
    }
    function search() {
        var date = $("#cdate").val();
        $('#table').bootstrapTable('filterBy', { date: date },
            {
                //自定义刷选函数
                'filterAlgorithm': function (row, filters) {
                    var TM = row.date.substr(0, 7);
                    var result1 = true;//定义一个返回结果
                    if (date == TM || date == "") {
                        result1 = true;
                    } else {
                        result1 = false;
                    }
                    return result1;
                }
            });
    }

   
    </script>

}


<div class='row-fluid'>
    <div class="span12">
        <div class='page-header'>
            <div class='pull-left' style="font-size:18px">
                <a style="color:#008FD7;font-weight:600"><span>工单配置</span></a>
                <i class='icon-angle-right'></i>
                <span>标准产能</span>
            </div>


        </div>
    </div>
</div>
<div class='row-fluid'>
    <div class='span12 box bordered-box'>
        <div class="box-content box-padding">
            <form class="form-inline">

                <div class="form-group">
                    <label class="sr-only" for="name">创建时间</label>
                </div>
                <div class="control-group">
                    <div class='input-append date datepicker' id='datepicker1'>
                        <input class='span9' type="text" id="cdate" style="margin-top:10px" placeholder='2001-01' />
                        <span class='add-on' style="margin-top:11px">
                            <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <button onclick="search()" type="submit" data-toggle='modal' class="btn btn-primary"><span class="icon-search"> 查询</span></button>
                </div>
            </form>

        </div>
    </div>
</div>
<div class='row-fluid'>
    <div class='span12 box bordered-box'>
        <div class="box-content box-padding">

            <div style="padding:14px 0px">
                <div class="form-group">
                    <button class="btn btn-primary" onclick="clean()" data-toggle='modal'><span class="icon-plus"> 新增</span></button>
                </div>
            </div>

            <table class="table" id="table"></table>
        </div>
        <!-- 编辑模态框（Modal） -->
        <div class="modal fade" id="myEditModal" style="display:none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            新增/编辑
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" class="span12" id="id" name="id" />
                        <div class="form-group">
                            <label class="sr-only" for="name">日期</label>
                        </div>
                        <div class="control-group">
                            <div class='input-append date datepicker' id='datepicker2'>
                                <input class='span12' type="text" id="date" style="margin-top:10px" data-format='yyyy-MM' placeholder='2001-01' />
                                <span class='add-on' style="margin-top:11px">
                                    <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">月标准产能（件）</label>
                            <input class="span12" type="text" id="capacity" name="capacity" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" onclick="finish()" class="btn btn-primary">
                                确认
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

        </div>
        <!-- 删除模态框（Modal） -->
        <div class="modal fade" id="myDelModal" style="display:none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            删除
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div>是否确认删除该条记录？</div>
                        <input type="hidden" id="deleteId" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            否
                        </button>
                        <button type="button" onclick="Delete()" class="btn btn-primary">
                            是
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
</div>