<!DOCTYPE html>
<html>
<head>
    <!-- / jquery -->
    <script src='~/assets/javascripts/jquery/jquery.min.js' type='text/javascript'></script>
    <script type='text/javascript'>
        $(document).ready(function () {
            $.fn.modal.Constructor.prototype.enforceFocus = function () { }
            $.ajax({
                type: "POST",
                url: "/LevelsOverview/GetData",
                dataType: "json",
                success: function (msg) {
                    treeView(msg);
                }, error: function (msg) {
                    toastr.error('执行失败!');
                }
            });
            function transData(a, idStr, pidStr, childrenStr)
            {
                var r = [], hash = {}, id = idStr, pid = pidStr, children = childrenStr, i = 0, j = 0, len = a.length;
                for (; i < len; i++)
                {
                    hash[a[i][id]] = a[i];
                    //console.log(hash);
                }
                for (; j < len; j++)
                {
                    var aVal = a[j], hashVP = hash[aVal[pid]];
                    if (hashVP)
                    {
                        delete aVal.id
                        delete aVal['id']
                        delete aVal['upper_id']
                        !hashVP[children] && (hashVP[children] = []);
                        hashVP[children].push(aVal);
                    }
                    else
                    {
                        r.push(aVal);
                    }
                }
                console.log(r);
                return r;
            }

            function treeView(msg) {
                var myEchart = echarts.init(document.getElementById('myEchart'));

                var option = {
                    tooltip: {
                        trigger: 'item',
                        triggerOn: 'mousemove'
                    },
                    series: [
                        {
                            type: 'tree',
                            id: 0,
                            name: 'tree1',
                            data: transData(msg, "id", "upper_id", "children"),
                            layout: 'orthogona',

                            top: '2%',
                            left: '8%',
                            bottom: '2%',
                            right: '20%',
                            symbol: 'rect',                       // 矩形标记
                            symbolSize: [140, 50],
                            initialTreeDepth: 10,
                            itemStyle: {

                                borderColor: '#008FD7',
                                borderWidth: 1,
                                shadowColor: '#E6E6E6'
                            },
                            lineStyle: {
                                //width: 2,
                                curveness: 0.5
                            },

                            label: {
                                normal: {
                                    position: 'right',
                                    verticalAlign: 'middle',
                                    fontSize: 17,
                                    offset: [-140, 0],             // 文本偏移量
                                    color: '#2F4157',
                                    align: 'left'
                                }
                            },
                            expandAndCollapse: true,
                            animationDuration: 550,
                            animationDurationUpdate: 750
                        }
                    ]
                };
                myEchart.setOption(option);
                var container = document.getElementById('myEchart');
                //var container = document.getElementById('myEchart');
                var allNode = 0;
                var nodes = myEchart._chartsViews[0]._data._graphicEls;
                for (var i = 0, count = nodes.length; i < count; i++) {
                    var node = nodes[i];
                    if (node === undefined)
                        continue;
                    allNode++;
                }
                var height = window.innerHeight;
                var currentHeight = 80 * allNode;
                var newWidth = Math.max(currentHeight, height);
                container.style.width = window.innerWidth-60 + 'px';
                container.style.height = newWidth + 'px';
                myEchart.resize();


                myEchart.on('click', function (params) {
                    if (params.componentType === 'series') {
                        // 点击到了 series 上
                        if (!params.value) {
                            // 点击的节点有子分支（可点开）
                            var elesArr = Array.from(new Set(myEchart._chartsViews[0]._data._graphicEls));
                            var height = 200; // 这里限制最小高
                            var currentHeight = 100 * (elesArr.length - 1) || 100; // 每项10px
                            var newHeight = Math.max(currentHeight, height);
                            container.style.height = newHeight + 'px';
                            myEchart.resize();
                        }
                    }
                });
            }
            
        });

        $(function () {
            $('.navigation ul li:nth-of-type(1) ul').attr("class", "nav nav-stacked in");
            $('.navigation ul li:nth-of-type(1) ul li:nth-of-type(2)').addClass('active');
            
        });


    </script>
</head>
<body>
    <div class='row-fluid'>
        <div class="span12">
            <div class='page-header'>
                <div class='pull-left' style="font-size:18px">
                    <a  style="color:#008FD7;font-weight:600"><span>公共配置</span></a>
                    <i class='icon-angle-right'></i>
                    <span>层级概览</span>
                </div>
            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12 box bordered-box'>

            <div class="box-content box-padding">
                <div id="myEchart" style="width:100%;height:800px"></div>
            </div>


        </div>
    </div>
    <script>


    </script>
</body>
</html>

