<!DOCTYPE html>
<html>
<head>
    <!-- / jquery -->
    <script src='~/assets/javascripts/jquery/jquery.min.js' type='text/javascript'></script>
    <script>
        $(function () {
            $('.navigation ul li:nth-of-type(1) ul').attr("class", "nav nav-stacked in");
            $('.navigation ul li:nth-of-type(1) ul li:nth-of-type(1)').addClass('active');

            $('#table').bootstrapTable({
                url: '/FirstLevelTags/GetData',
                method: 'get',
                theadClasses: "thead-blue",
                pagination: true,
                sidePagination: "client",//分页方式：client客户端(前台)分页，server服务端（后台）分页（*）
                pageNumber: 1,//初始化加载第一页，默认第一页
                pageSize: 10,//每页的记录行数（*）
                pageList: [10, 25, 50, 100],//可供选择的每页的行数（*）
                columns: [{
                        field: 'no',
                        title: '序号',
                        formatter: function (value, row, index) {
                            var options = $('#table').bootstrapTable('getOptions');
                            return options.pageSize * (options.pageNumber - 1) + index + 1;
                        }
                    },{
                    field: 'name_en',
                    title: '类别名称(英)'
                }, {
                    field: 'name_cn',
                    title: '类别名称(简中)'
                }, {
                    field: 'name_tw',
                    title: '类别名称(繁中)'
                }, {
                    field: 'description',
                    title: '描述'
                }
                ]
            });
        });
      
    </script>
</head>
<body>
    <div class='row-fluid'>
        <div class="span12">
            <div class='page-header'>
                <div class='pull-left' style="font-size:18px">
                    <a href="#" style="color:#008FD7;font-weight:600"><span>公共配置</span></a>
                    <i class='icon-angle-right'></i>
                    <span>一级标签</span>
                </div>
                

            </div>
        </div> 
    </div>
    <div class='row-fluid'>
        <div class='span12 box bordered-box'>
            <div class="box-content box-padding">
                <table class="table" id="table"></table>
            </div>
            
        </div>
    </div>
</body>
</html>





