
@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>
<html>
<head>
</head>
<body class='contrast-red '>
    <div class='row-fluid'>
        <div class='span12 box bordered-box orange-border' style='margin-bottom:0;'>
            <div class='box-header orange-background'>
                <div class='title'>Sortable data table with pagination</div>
                <div class='actions'>
                    <a href="#" class="btn box-remove btn-mini btn-link">
                        <i class='icon-remove'></i>
                    </a>
                    <a href="#" class="btn box-collapse btn-mini btn-link">
                        <i></i>
                    </a>
                </div>
            </div>
            <div class='box-content box-no-padding'>
                <div class='responsive-table'>
                    <div class='scrollable-area'>
                        <table class='data-table table table-bordered table-striped' style='margin-bottom:0;'>
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        E-mail
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sigurd Klocko</td>
                                    <td>norene@hotmail.com</td>
                                    <td>
                                        <span class='label label-important'>Important</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Donald Cummings</td>
                                    <td>kane@yahoo.com</td>
                                    <td>
                                        <span class='label label-success'>Success</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Gwendolyn Stark</td>
                                    <td>jesus@yahoo.com</td>
                                    <td>
                                        <span class='label label-warning'>Warning</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Angeline Padberg</td>
                                    <td>palma@gmail.com</td>
                                    <td>
                                        <span class='label label-success'>Success</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Delbert Koch</td>
                                    <td>grayson@gmail.com</td>
                                    <td>
                                        <span class='label label-important'>Important</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Josie Roob</td>
                                    <td>anastacio@yahoo.com</td>
                                    <td>
                                        <span class='label label-important'>Important</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dana Kilback</td>
                                    <td>silas@yahoo.com</td>
                                    <td>
                                        <span class='label label-warning'>Warning</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Leonel Block</td>
                                    <td>sammy@yahoo.com</td>
                                    <td>
                                        <span class='label label-success'>Success</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jeromy Ruecker</td>
                                    <td>yasmeen@hotmail.com</td>
                                    <td>
                                        <span class='label label-success'>Success</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Janis Crooks</td>
                                    <td>kenyatta@yahoo.com</td>
                                    <td>
                                        <span class='label label-important'>Important</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Delpha Schinner</td>
                                    <td>breanne@yahoo.com</td>
                                    <td>
                                        <span class='label label-success'>Success</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Rosemarie Kautzer</td>
                                    <td>loy@yahoo.com</td>
                                    <td>
                                        <span class='label label-important'>Important</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Araceli Deckow</td>
                                    <td>reanna@yahoo.com</td>
                                    <td>
                                        <span class='label label-important'>Important</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Karianne Bogisich</td>
                                    <td>itzel@gmail.com</td>
                                    <td>
                                        <span class='label label-important'>Important</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cletus Farrell</td>
                                    <td>samantha@gmail.com</td>
                                    <td>
                                        <span class='label label-success'>Success</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Kayli Walsh</td>
                                    <td>callie@gmail.com</td>
                                    <td>
                                        <span class='label label-warning'>Warning</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Della O'Kon</td>
                                    <td>nellie@yahoo.com</td>
                                    <td>
                                        <span class='label label-important'>Important</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Arno McDermott</td>
                                    <td>destinee@hotmail.com</td>
                                    <td>
                                        <span class='label label-success'>Success</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nelson Lesch</td>
                                    <td>makenna@hotmail.com</td>
                                    <td>
                                        <span class='label label-success'>Success</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pat Wyman</td>
                                    <td>eldridge@hotmail.com</td>
                                    <td>
                                        <span class='label label-success'>Success</span>
                                    </td>
                                    <td>
                                        <div class='text-right'>
                                            <a class='btn btn-success btn-mini' href='#'>
                                                <i class='icon-ok'></i>
                                            </a>
                                            <a class='btn btn-danger btn-mini' href='#'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>

