<!DOCTYPE html>
<html>
<head>
    <title>MPM Portal</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />

    <!--[if lt IE 9]>
    <script src='assets/javascripts/html5shiv.js' type='text/javascript'></script>
    <![endif]-->
    <link href='~/assets/stylesheets/bootstrap/bootstrap.css' media='all' rel='stylesheet' type='text/css' />
    <link href='~/assets/stylesheets/bootstrap/bootstrap-responsive.css' media='all' rel='stylesheet' type='text/css' />
    <link href="~/assets/stylesheets/bootstrap/bootstrap-table.css" media="all" rel="stylesheet" type="text/css" />
    <!-- / jquery ui -->
    <link href='~/assets/stylesheets/jquery_ui/jquery-ui-1.10.0.custom.css' media='all' rel='stylesheet' type='text/css' />
    <link href='~/assets/stylesheets/jquery_ui/jquery.ui.1.10.0.ie.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / switch buttons -->
    <link href='~/assets/stylesheets/plugins/bootstrap_switch/bootstrap-switch.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / xeditable -->
    <link href='~/assets/stylesheets/plugins/xeditable/bootstrap-editable.css' media='all' rel='stylesheet' type='text/css' />
    <link href='~/assets/stylesheets/plugins/common/bootstrap-wysihtml5.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / wysihtml5 (wysywig) -->
    <link href='~/assets/stylesheets/plugins/common/bootstrap-wysihtml5.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / jquery file upload -->
    <link href='~/assets/stylesheets/plugins/jquery_fileupload/jquery.fileupload-ui.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / full calendar -->
    <link href='~/assets/stylesheets/plugins/fullcalendar/fullcalendar.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / select2 -->
    @*<link href='~/assets/stylesheets/plugins/select2/select2.css' media='all' rel='stylesheet' type='text/css' />*@
    <link href="~/lib/select2/css/select2.css" media="all" rel="stylesheet" type="text/css" />
    <!-- / mention -->
    <link href='~/assets/stylesheets/plugins/mention/mention.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / tabdrop (responsive tabs) -->
    <link href='~/assets/stylesheets/plugins/tabdrop/tabdrop.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / jgrowl notifications -->
    <link href='~/assets/stylesheets/plugins/jgrowl/jquery.jgrowl.min.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / datatables -->
    @*<link href='~/assets/stylesheets/plugins/datatables/bootstrap-datatable.css' media='all' rel='stylesheet' type='text/css' />*@
    <!-- / dynatrees (file trees) -->
    <link href='~/assets/stylesheets/plugins/dynatree/ui.dynatree.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / color picker -->
    <link href='~/assets/stylesheets/plugins/bootstrap_colorpicker/bootstrap-colorpicker.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / datetime picker -->
    <link href='~/assets/stylesheets/plugins/bootstrap_datetimepicker/bootstrap-datetimepicker.min.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / daterange picker) -->
    <link href='~/assets/stylesheets/plugins/bootstrap_daterangepicker/bootstrap-daterangepicker.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / flags (country flags) -->
    <link href='~/assets/stylesheets/plugins/flags/flags.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / slider nav (address book) -->
    <link href='~/assets/stylesheets/plugins/slider_nav/slidernav.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / fuelux (wizard) -->
    <link href='~/assets/stylesheets/plugins/fuelux/wizard.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / flatty theme -->
    <link href='~/assets/stylesheets/light-theme.css' id='color-settings-body-color' media='all' rel='stylesheet' type='text/css' />
    <!-- / demo -->
    <link href='~/assets/stylesheets/demo.css' media='all' rel='stylesheet' type='text/css' />
    <!-- / toastr -->
    <link href="~/assets/stylesheets/plugins/toastr/toastr.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class='contrast-red '>
    <header>
        <div class='navbar'>
            <div class='navbar-inner'>
                <div class='container-fluid'>
                    <a class='toggle-nav btn pull-left' href='#' style="width:16px;height:24px;font-size:24px">
                        <i class='icon-reorder'></i>
                    </a>
                    <img src="~/grafanaUIframe/icon/iFactory_MPM.svg" style="width:180px;height:60px" />

                    <div class='nav pull-right'>
                        <img src="~/grafanaUIframe/icon/Banner/WISE-PaaS_line.svg" style="width:140px;height:58px" />
                    </div>
                    <div class='pull-right'>
                        <div class='dropdown dark user-menu'>
                            <a class='dropdown-toggle' data-toggle='dropdown' href='#' style="color:#E6E6E6;text-decoration:none">
                                <span class='icon-user' style="font-size:34px;padding:10px"></span>
                            </a>
                            <ul class='dropdown-menu'>
                                <li>
                                    <a href='https://api-mpm.wise-paas.cn/swagger/index.html' target="_blank">
                                        <i class='icon-file-alt'></i>
                                        API文档
                                    </a>
                                </li>
                                <li class='divider'></li>
                                <li>
                                    <a href='sign_in.html'>
                                        <i class='icon-signout'></i>
                                        退出登录
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class='pull-right'>
                        <div class='dropdown dark user-menu'>
                            <a class='dropdown-toggle' data-toggle='dropdown' href='#' style="color:#E6E6E6;text-decoration:none">
                                <span class='icon-globe' style="font-size:34px;padding:10px"></span>
                            </a>
                            <ul class='dropdown-menu'>
                                <li>
                                    <a href='#'>
                                        English
                                    </a>
                                </li>
                                <li class='divider'></li>
                                <li>
                                    <a href='#'>
                                        简体中文
                                    </a>
                                </li>
                                <li class='divider'></li>
                                <li>
                                    <a href='#'>
                                        繁體中文
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id='wrapper'>
        <div id='main-nav-bg'></div>
        <nav id='main-nav'>
            <div class='navigation'>
                <ul class='nav nav-stacked'>
                    <li>
                        <a class='dropdown-collapse' href='#'>
                            <i class='icon-cogs'></i>
                            <span>公共配置</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>
                        <ul class='nav nav-stacked'>
                            <li class=''>
                                <a href='/FirstLevelTags/Index'>
                                    <i class=' icon-tag'></i>
                                    <span>一级标签</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/SecondLevelTags/Index'>
                                    <i class='icon-tags'></i>
                                    <span>二级标签</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/LevelsOverview/Index'>
                                    <i class='icon-camera'></i>
                                    <span>层级概览</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/LevelsConfig/Index'>
                                    <i class=' icon-ellipsis-horizontal'></i>
                                    <span>层级配置</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/Wechart_Server/Index'>
                                    <i class='icon-comment'></i>
                                    <span>微信服务器</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/Email_Server/Index'>
                                    <i class='icon-envelope-alt'></i>
                                    <span>邮件服务器</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/Dept/Index'>
                                    <i class='icon-group'></i>
                                    <span>部门列表</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/Machinelease/Index'>
                                    <i class='icon-group'></i>
                                    <span>租赁价格</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/MachineLicence/Index'>
                                    <i class='icon-group'></i>
                                    <span>设备数量授权</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class='dropdown-collapse' href='#'>
                            <i class='icon-bell-alt'></i>
                            <span>异常管理</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>
                        <ul class='nav nav-stacked'>

                            <li class=''>
                                <a href='/Person/Index'>
                                    <i class='icon-group'></i>
                                    <span>人员列表</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/ErrorType/Index'>
                                    <i class='icon-pushpin'></i>
                                    <span>异常类型列表</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/ErrorTypeDetail/Index'>
                                    <i class='icon-info-sign'></i>
                                    <span>异常详细列表</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/ErrorConfig/Index'>
                                    <i class='icon-cog'></i>
                                    <span>异常配置</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/NotificationGroup/Index'>
                                    <i class='icon-info-sign'></i>
                                    <span>群组通知列表</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/Pending/Index'>
                                    <i class='icon-info-sign'></i>
                                    <span>待处理设备异常</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/ErrorMaintenance/Index'>
                                    <i class='icon-wrench'></i>
                                    <span>异常信息维护</span>
                                </a>
                            </li>

                            <li>
                                <a class='dropdown-collapse' href='#'>
                                    <i class='icon-cog'></i>
                                    <span>机台预警配置</span>
                                    <i class='icon-angle-down angle-down'></i>
                                </a>
                                <ul class='nav nav-stacked'>
                                    <li>
                                        <a href='/Machine_status_alert/Index'>
                                            <i class='icon-list-alt'></i>
                                            <span>机台状态预警</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='/Machine_cost_alert/Index'>
                                            <i class='icon-list-alt'></i>
                                            <span>租赁价格预警</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='/Machine_status_duration_alert/Index'>
                                            <i class='icon-file-alt'></i>
                                            <span>机台状态持续时间预警</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='/Utilization_rate_alert/Index'>
                                            <i class='icon-file-alt'></i>
                                            <span>稼动率预警</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class='dropdown-collapse' href='#'>
                                    <i class='icon-cog'></i>
                                    <span>工单产能预警配置</span>
                                    <i class='icon-angle-down angle-down'></i>
                                </a>
                                <ul class='nav nav-stacked'>
                                    <li class=''>
                                        <a href='/Workorderalert/Index'>
                                            <i class='icon-list-alt'></i>
                                            <span>工单预警</span>
                                        </a>
                                    </li>
                                    <li class=''>
                                        <a href='/Capacity_alert/Index'>
                                            <i class='icon-list-alt'></i>
                                            <span>产能预警</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a class='dropdown-collapse' href='#'>
                                    <i class='icon-cog'></i>
                                    <span>异常预警配置</span>
                                    <i class='icon-angle-down angle-down'></i>
                                </a>
                                <ul class='nav nav-stacked'>
                                    <li class=''>
                                        <a href='/Machine_fault_alert/Index'>
                                            <i class='icon-list-alt'></i>
                                            <span>设备故障预警</span>
                                        </a>
                                    </li>
                                    <li class=''>
                                        <a href='/Quality_alert/Index'>
                                            <i class='icon-list-alt'></i>
                                            <span>品质异常预警</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>



                        </ul>
                    </li>
                    @*<li>
                        <a class='dropdown-collapse' href='#'>
                            <i class='icon-book'></i>
                            <span>机台预警配置</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>
                        <ul class='nav nav-stacked'>

                            <li class=''>
                                <a href='/Machine_status_alert/Index'>
                                    <i class='icon-list-alt'></i>
                                    <span>机台状态预警</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/Machine_cost_alert/Index'>
                                    <i class='icon-list-alt'></i>
                                    <span>租赁价格预警</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/Machine_status_duration_alert/Index'>
                                    <i class='icon-file-alt'></i>
                                    <span>机台状态持续时间预警</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/Utilization_rate_alert/Index'>
                                    <i class='icon-file-alt'></i>
                                    <span>稼动率预警</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class='dropdown-collapse' href='#'>
                            <i class='icon-book'></i>
                            <span>工单产能预警配置</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>
                        <ul class='nav nav-stacked'>

                            <li class=''>
                                <a href='/Workorderalert/Index'>
                                    <i class='icon-list-alt'></i>
                                    <span>工单预警</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/Capacity_alert/Index'>
                                    <i class='icon-list-alt'></i>
                                    <span>产能预警</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class='dropdown-collapse' href='#'>
                            <i class='icon-book'></i>
                            <span>异常预警配置</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>
                        <ul class='nav nav-stacked'>

                            <li class=''>
                                <a href='/Machine_fault_alert/Index'>
                                    <i class='icon-list-alt'></i>
                                    <span>设备故障预警</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/Quality_alert/Index'>
                                    <i class='icon-list-alt'></i>
                                    <span>品质异常预警</span>
                                </a>
                            </li>
                        </ul>
                    </li>*@
                    <li>
                        <a class='dropdown-collapse' href='#'>
                            <i class='icon-book'></i>
                            <span>工单配置</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>
                        <ul class='nav nav-stacked'>

                            <li class=''>
                                <a href='/Order/Index'>
                                    <i class='icon-list-alt'></i>
                                    <span>工单信息</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/VirtualLine/Index'>
                                    <i class='icon-list-alt'></i>
                                    <span>虚拟线</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/OrderHistory/Index'>
                                    <i class='icon-file-alt'></i>
                                    <span>历史工单信息</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class='dropdown-collapse' href='#'>
                            <i class='icon-bar-chart'></i>
                            <span>稼动率配置</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>
                        <ul class='nav nav-stacked'>
                            <li class=''>
                                <a href='/StatusSetting/Index'>
                                    <i class='icon-sitemap'></i>
                                    <span>机台状态</span>
                                </a>
                            </li>


                        </ul>
                    </li>
                    @*<li>
                        <a class='dropdown-collapse' href='#'>
                            <i class='icon-bar-chart'></i>
                            <span>现场客户端</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>
                        <ul class='nav nav-stacked'>
                            <li class=''>
                                <a href='/SiteClient/Index'>
                                    <i class='icon-sitemap'></i>
                                    <span>工单操作</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/QualityCall/Index'>
                                    <i class='icon-sitemap'></i>
                                    <span>品质呼叫</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/MaterialCall/Index'>
                                    <i class='icon-sitemap'></i>
                                    <span>物料呼叫</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/ErrorCall/Index'>
                                    <i class='icon-sitemap'></i>
                                    <span>设备异常呼叫</span>
                                </a>
                            </li>
                        </ul>
                    </li>*@
                </ul>
            </div>
        </nav>
        <section id='content'>
            <div class='container-fluid'>
                <div class='row-fluid' id='content-wrapper'>
                    <div class='span12'>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- / jquery -->
    <script src='~/assets/javascripts/jquery/jquery.min.js' type='text/javascript'></script>
    <!-- / jquery mobile events (for touch and slide) -->
    <script src='~/assets/javascripts/plugins/mobile_events/jquery.mobile-events.min.js' type='text/javascript'></script>
    <!-- / jquery migrate (for compatibility with new jquery) -->
    <script src='~/assets/javascripts/jquery/jquery-migrate.min.js' type='text/javascript'></script>
    <!-- / jquery ui -->
    <script src='~/assets/javascripts/jquery_ui/jquery-ui.min.js' type='text/javascript'></script>
    <!-- / bootstrap -->
    <script src='~/assets/javascripts/bootstrap/bootstrap.min.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/plugins/flot/excanvas.js' type='text/javascript'></script>
    <script src="~/assets/javascripts/bootstrap/bootstrap-table.js"></script>
    <script src="~/assets/javascripts/bootstrap/bootstrap-table-zh-CN.js"></script>
    <!-- / sparklines -->
    <script src='~/assets/javascripts/plugins/sparklines/jquery.sparkline.min.js' type='text/javascript'></script>
    <!-- / flot charts -->
    <script src='~/assets/javascripts/plugins/flot/flot.min.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/plugins/flot/flot.resize.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/plugins/flot/flot.pie.js' type='text/javascript'></script>
    <!-- / bootstrap switch -->
    <script src='~/assets/javascripts/plugins/bootstrap_switch/bootstrapSwitch.min.js' type='text/javascript'></script>
    <!-- / fullcalendar -->
    <script src='~/assets/javascripts/plugins/fullcalendar/fullcalendar.min.js' type='text/javascript'></script>
    <!-- / datatables -->
    @*<script src='~/assets/javascripts/plugins/datatables/jquery.dataTables.min.js' type='text/javascript'></script>
        <script src='~/assets/javascripts/plugins/datatables/jquery.dataTables.columnFilter.js' type='text/javascript'></script>*@
    <!-- / wysihtml5 -->
    <script src='~/assets/javascripts/plugins/common/wysihtml5.min.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/plugins/common/bootstrap-wysihtml5.js' type='text/javascript'></script>
    <!-- / select2 -->
    @*<script src='~/assets/javascripts/plugins/select2/select2.js' type='text/javascript'></script>*@
    <script src="~/lib/select2/js/select2.js" type="text/javascript"></script>
    <!-- / color picker -->
    <script src='~/assets/javascripts/plugins/bootstrap_colorpicker/bootstrap-colorpicker.min.js' type='text/javascript'></script>
    <!-- / mention -->
    <script src='~/assets/javascripts/plugins/mention/mention.min.js' type='text/javascript'></script>
    <!-- / input mask -->
    <script src='~/assets/javascripts/plugins/input_mask/bootstrap-inputmask.min.js' type='text/javascript'></script>
    <!-- / fileinput -->
    <script src='~/assets/javascripts/plugins/fileinput/bootstrap-fileinput.js' type='text/javascript'></script>
    <!-- / modernizr -->
    <script src='~/assets/javascripts/plugins/modernizr/modernizr.min.js' type='text/javascript'></script>
    <!-- / retina -->
    <script src='~/assets/javascripts/plugins/retina/retina.js' type='text/javascript'></script>
    <!-- / fileupload -->
    <script src='~/assets/javascripts/plugins/fileupload/tmpl.min.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/plugins/fileupload/load-image.min.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/plugins/fileupload/canvas-to-blob.min.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/plugins/fileupload/jquery.iframe-transport.min.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/plugins/fileupload/jquery.fileupload.min.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/plugins/fileupload/jquery.fileupload-fp.min.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/plugins/fileupload/jquery.fileupload-ui.min.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/plugins/fileupload/jquery.fileupload-init.js' type='text/javascript'></script>
    <!-- / timeago -->
    <script src='~/assets/javascripts/plugins/timeago/jquery.timeago.js' type='text/javascript'></script>
    <!-- / slimscroll -->
    <script src='~/assets/javascripts/plugins/slimscroll/jquery.slimscroll.min.js' type='text/javascript'></script>
    <!-- / autosize (for textareas) -->
    <script src='~/assets/javascripts/plugins/autosize/jquery.autosize-min.js' type='text/javascript'></script>
    <!-- / charCount -->
    <script src='~/assets/javascripts/plugins/charCount/charCount.js' type='text/javascript'></script>
    <!-- / validate -->
    <script src='~/assets/javascripts/plugins/validate/jquery.validate.min.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/plugins/validate/additional-methods.js' type='text/javascript'></script>
    <!-- / naked password -->
    <script src='~/assets/javascripts/plugins/naked_password/naked_password-0.2.4.min.js' type='text/javascript'></script>
    <!-- / nestable -->
    <script src='~/assets/javascripts/plugins/nestable/jquery.nestable.js' type='text/javascript'></script>
    <!-- / tabdrop -->
    <script src='~/assets/javascripts/plugins/tabdrop/bootstrap-tabdrop.js' type='text/javascript'></script>
    <!-- / jgrowl -->
    <script src='~/assets/javascripts/plugins/jgrowl/jquery.jgrowl.min.js' type='text/javascript'></script>
    <!-- / bootbox -->
    <script src='~/assets/javascripts/plugins/bootbox/bootbox.min.js' type='text/javascript'></script>
    <!-- / inplace editing -->
    <script src='~/assets/javascripts/plugins/xeditable/bootstrap-editable.min.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/plugins/xeditable/wysihtml5.js' type='text/javascript'></script>
    <!-- / ckeditor -->
    <script src='~/assets/javascripts/plugins/ckeditor/ckeditor.js' type='text/javascript'></script>
    <!-- / filetrees -->
    <script src='~/assets/javascripts/plugins/dynatree/jquery.dynatree.min.js' type='text/javascript'></script>
    <!-- / datetime picker -->
    <script src='~/assets/javascripts/plugins/bootstrap_datetimepicker/bootstrap-datetimepicker.js' type='text/javascript'></script>
    <!-- / daterange picker -->
    <script src='~/assets/javascripts/plugins/bootstrap_daterangepicker/moment.min.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/plugins/bootstrap_daterangepicker/bootstrap-daterangepicker.js' type='text/javascript'></script>
    <!-- / max length -->
    <script src='~/assets/javascripts/plugins/bootstrap_maxlength/bootstrap-maxlength.min.js' type='text/javascript'></script>
    <!-- / dropdown hover -->
    <script src='~/assets/javascripts/plugins/bootstrap_hover_dropdown/twitter-bootstrap-hover-dropdown.min.js' type='text/javascript'></script>
    <!-- / slider nav (address book) -->
    <script src='~/assets/javascripts/plugins/slider_nav/slidernav-min.js' type='text/javascript'></script>
    <!-- / fuelux -->
    <script src='~/assets/javascripts/plugins/fuelux/wizard.js' type='text/javascript'></script>
    <!-- / flatty theme -->
    <script src='~/assets/javascripts/nav.js' type='text/javascript'></script>
    @*<script src='~/assets/javascripts/tables.js' type='text/javascript'></script>*@
    <script src='~/assets/javascripts/theme.js' type='text/javascript'></script>
    <!-- / demo -->
    <script src='~/assets/javascripts/demo/jquery.mockjax.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/demo/inplace_editing.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/demo/charts.js' type='text/javascript'></script>
    <script src='~/assets/javascripts/demo/demo.js' type='text/javascript'></script>

    <script src="~/lib/echarts/echarts.js"></script>

    <!-- / toastr -->
    <script src="~/assets/javascripts/plugins/toastr/toastr.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,//显示关闭按钮
            "positionClass": "toast-bottom-right",//弹出的位置
            "showDuration": "300",//显示的时间
            "hideDuration": "2000",//消失的时间
            "timeOut": "5000",//停留的时间
            "extendedTimeOut": "1000",//控制时间
            "showEasing": "swing",//显示时的动画缓冲方式
            "hideEasing": "linear",//消失时的动画缓冲方式
            "showMethod": "fadeIn",//显示时的动画方式
            "hideMethod": "fadeOut"//消失时的动画方式
        };
    </script>
</body>
</html>
