
<head>
    <!-- / jquery -->
    <script src='~/assets/javascripts/jquery/jquery.min.js' type='text/javascript'></script>
    <script type='text/javascript'>
        var fixIndex = 1;//固定排休数
        var unFixIndex = 1;//非固定排休数
        $(document).ready(function () {
            $.fn.modal.Constructor.prototype.enforceFocus = function () { }

        });
        $(function () {
            $('.navigation ul li:nth-of-type(1) ul').attr("class", "nav nav-stacked in");
            $('.navigation ul li:nth-of-type(1) ul li:nth-of-type(4)').addClass('active');

            //群组
            $('#group').bootstrapTable({
                url: '/LevelsConfig/GetGroup',
                method: 'get',
                theadClasses: "thead-blue",
                striped: true,  //表格显示条纹，默认为false
                pagination: true,
                sidePagination: "client",//分页方式：client客户端(前台)分页，server服务端（后台）分页（*）
                pageNumber: 1,//初始化加载第一页，默认第一页
                pageSize: 12,//每页的记录行数（*）
                undefinedText: '---', //当数据为 undefined 时显示的字符
                paginationDetailHAlign: 'left',
                toolbarAlign: 'right',
                columns: [{
                    field: 'no',
                    title: '序号',
                    formatter: function (value, row, index) {
                        var options = $('#group').bootstrapTable('getOptions');
                        return options.pageSize * (options.pageNumber - 1) + index + 1;
                    }
                },{
                    field: 'id',
                    title: 'id',
                    visible: false
                }, {
                    field: 'name_cn',
                    title: '群组'
                }, {
                    field: 'actionEvent',
                    title: '操作',
                    formatter: groupActionFormatter,
                    events: groupOperateEvents
                }, {
                    field: 'level',
                    title: '层级跳转',
                    formatter: levelFormatter
                }]
            });

            //设备绑定中，已绑定的设备
            $('#machineList').bootstrapTable({
                theadClasses: "thead-blue",
                striped: true,  //表格显示条纹，默认为false
                pagination: true,
                sidePagination: "client",//分页方式：client客户端(前台)分页，server服务端（后台）分页（*）
                pageNumber: 1,//初始化加载第一页，默认第一页
                pageSize: 12,//每页的记录行数（*）
                undefinedText: '---', //当数据为 undefined 时显示的字符
                paginationDetailHAlign: 'left',
                toolbarAlign: 'right',
                columns: [{
                    field: 'id',
                    title: '序号'
                }, {
                    field: 'machineName',
                    title: '设备名称'
                }],
                data: [{
                    id: 1,
                    machineName: '设备001'
                }, {
                    id: 2,
                    machineName: '设备002'
                }, {
                    id: 3,
                    machineName: '设备003'
                }, {
                    id: 4,
                    machineName: '设备004'
                }, {
                    id: 5,
                    machineName: '设备005'
                }, {
                    id: 6,
                    machineName: '设备006'
                }, {
                    id: 7,
                    machineName: '设备007'
                }]
            });

            //设备
            $('#machineAll').bootstrapTable({
                theadClasses: "thead-blue",
                striped: true,  //表格显示条纹，默认为false
                pagination: true,
                sidePagination: "client",//分页方式：client客户端(前台)分页，server服务端（后台）分页（*）
                pageNumber: 1,//初始化加载第一页，默认第一页
                pageSize: 12,//每页的记录行数（*）
                undefinedText: '---', //当数据为 undefined 时显示的字符
                paginationDetailHAlign: 'left',
                toolbarAlign: 'right',
                columns: [{
                    field: 'id',
                    title: '序号'
                }, {
                    field: 'machineName',
                    title: '设备'
                }, {
                    field: 'actionEvent',
                    title: '操作',
                    formatter: machineActionFormatter
                }, {
                    field: 'level',
                    title: '层级跳转',
                    formatter: machineLevelFormatter
                }],
                data: [{
                    id: 1,
                    machineName: '设备001',
                    actionEvent: machineActionFormatter,
                    level: machineLevelFormatter
                }, {
                    id: 2,
                    machineName: '设备002',
                    actionEvent: machineActionFormatter,
                    level: machineLevelFormatter
                }, {
                    id: 3,
                    machineName: '设备003',
                    actionEvent: machineActionFormatter,
                    level: machineLevelFormatter
                }, {
                    id: 4,
                    machineName: '设备004',
                    actionEvent: machineActionFormatter,
                    level: machineLevelFormatter
                }, {
                    id: 5,
                    machineName: '设备005',
                    actionEvent: machineActionFormatter,
                    level: machineLevelFormatter
                }, {
                    id: 6,
                    machineName: '设备006',
                    actionEvent: machineActionFormatter,
                    level: machineLevelFormatter
                }, {
                    id: 7,
                    machineName: '设备007',
                    actionEvent: machineActionFormatter,
                    level: machineLevelFormatter
                }]
            });

            //层级
            //$('#cityTable').bootstrapTable({
            //    theadClasses: "thead-blue",
            //    striped: true,  //表格显示条纹，默认为false
            //    pagination: true,
            //    sidePagination: "client",//分页方式：client客户端(前台)分页，server服务端（后台）分页（*）
            //    pageNumber: 1,//初始化加载第一页，默认第一页
            //    pageSize: 12,//每页的记录行数（*）
            //    undefinedText: '---', //当数据为 undefined 时显示的字符
            //    paginationDetailHAlign: 'left',
            //    toolbarAlign: 'right',
            //    columns: [{
            //        field: 'id',
            //        title: '序号'
            //    }, {
            //        field: 'levelName',
            //        title: '层级名称'
            //    }, {
            //        field: 'actionEvent',
            //        title: '操作',
            //        formatter: actionFormatter
            //    }, {
            //        field: 'level',
            //        title: '层级跳转',
            //        formatter: centerLevelFormatter
            //    }],
            //    data: [{
            //        id: 1,
            //        levelName: '南京',
            //        actionEvent: actionFormatter,
            //        level: centerLevelFormatter
            //    }, {
            //        id: 2,
            //        levelName: '苏州',
            //        actionEvent: actionFormatter,
            //        level: centerLevelFormatter
            //    }, {
            //        id: 3,
            //        levelName: '无锡',
            //        actionEvent: actionFormatter,
            //        level: centerLevelFormatter
            //    }, {
            //        id: 4,
            //        levelName: '上海',
            //        actionEvent: actionFormatter,
            //        level: centerLevelFormatter
            //    }, {
            //        id: 5,
            //        levelName: '广州',
            //        actionEvent: actionFormatter,
            //        level: centerLevelFormatter
            //    }, {
            //        id: 6,
            //        levelName: '天津',
            //        actionEvent: actionFormatter,
            //        level: centerLevelFormatter
            //    }, {
            //        id: 7,
            //        levelName: '深圳',
            //        actionEvent: actionFormatter,
            //        level: centerLevelFormatter
            //    }]
            //});
        });

        //群组及层级的操作栏格式化
        function groupActionFormatter(value, row, index) {
            var result = "";
            result += "<a id='settingGroup' href='javascript:;' title='属性设置' data-toggle='modal' data-target='#mySetModal' style='font-size:32px;'><span class='icon-cog'></span></a>";
            result += "<a id='bindingGroup' href='javascript:;' title='设备绑定' data-toggle='modal' data-target='#myBindModal' style='font-size:32px;'><span class='icon-sitemap'></span></a>";
            result += "<a id='editGroup' href='javascript:;' title='编辑' data-toggle='modal' data-target='#groupAddEditModal' style='font-size:32px;'><span class='icon-edit-sign'></span></a>";
            result += "<a id='deleteGroup' href='javascript:;' title='删除' data-toggle='modal' data-target='#myDelModal' style='font-size:32px;'><span class='icon-trash'></span></a>";
            return result;
        }
        //群组事件操作
        window.groupOperateEvents = {
            //属性设置
            "click #settingGroup": function (e, value, row, index) {
                //模态框初始化
                $("#settingSelect").val("排班").select2();

                document.getElementById('classContent').style.cssText = 'display:block';
                document.getElementById('fixRest').style.cssText = 'display:none';
                document.getElementById('unfixRest').style.cssText = 'display:none';

                document.getElementById("area_node_id").value = row.id;

                document.getElementById('day_start_time').value = "";
                document.getElementById('day_end_time').value = "";
                document.getElementById('night_start_time').value = "";
                document.getElementById('night_end_time').value = "";

                document.getElementById("fixAdd").innerHTML = "";
                document.getElementById('fix_start_time1').value = "";
                document.getElementById('fix_end_time1').value = "";

                document.getElementById("unfixAdd").innerHTML = "";
                document.getElementById('unfix_start_time1').value = "";
                document.getElementById('unfix_end_time1').value = "";

                var area_node_id = row.id;
                //排产
                $.ajax({
                    type: "POST",
                    url: "/LevelsConfig/GetSetting",
                    data: {
                        area_node_id: area_node_id,
                        type: "shift"
                    },
                    success: function (msg) {
                        if (msg == "Fail") {
                            toastr.error('执行失败!');
                        }
                        else {
                            if (msg["shift"] != null) {
                                document.getElementById('day_start_time').value = msg["shift"]["day"]["start"];
                                document.getElementById('day_end_time').value = msg["shift"]["day"]["end"];
                                document.getElementById('night_start_time').value = msg["shift"]["night"]["start"];
                                document.getElementById('night_end_time').value = msg["shift"]["night"]["end"]; 
                            }
                                 
                        } 
                    }, error: function (msg) {
                        toastr.error('执行失败!');
                    }
                });
                //固定排休
                $.ajax({
                    type: "POST",
                    url: "/LevelsConfig/GetSetting",
                    data: {
                        area_node_id: area_node_id,
                        type: "fixed_break"
                    },
                    success: function (msg) {
                        if (msg == "Fail") {
                            toastr.error('执行失败!');
                        }
                        else {
                            if (msg["fixBreak"] != null) {
                                document.getElementById('fix_start_time1').value = msg["fixBreak"]["rest"][0]["start"];
                                document.getElementById('fix_end_time1').value = msg["fixBreak"]["rest"][0]["end"];
                                fixIndex = msg["fixBreak"]["rest"].length;
                                for (var i = 1; i < msg["fixBreak"]["rest"].length; i++) {
                                    $("#fixAdd").append(
                                        "<div class='control-group'>" +
                                        "<h4>" + (i + 1) + "#</h4>" +
                                        "</div>" +
                                        "<hr class='hr-top' style='margin-right:-14px' />" +
                                        "<div class='control-group'>" +
                                        "<label class= 'control-label'>开始时间</label >" +
                                        "<div class='timepicker input-append' id='timepicker'>" +
                                        "<input class='span12' type='text' id='fix_start_time" + (i + 1) + "' name='fix_start_time' data-format='hh:mm:ss' placeholder='00:00:00' value='" + msg["fixBreak"]["rest"][i]["start"] + "' />" +
                                        "<span class='add-on'>" +
                                        "<i data-date-icon='icon-calendar' data-time-icon='icon-time' class='icon-time'></i>" +
                                        "</span>" +
                                        "</div>" +
                                        "</div >" +
                                        "<div class='control-group'>" +
                                        "<label class='control-label'>结束时间</label>" +
                                        "<div class='timepicker input-append' id='timepicker'>" +
                                        "<input class='span12' type='text' id='fix_end_time" + (i + 1) + "' name='fix_end_time' data-format='hh:mm:ss' placeholder='00:00:00' value='" + msg["fixBreak"]["rest"][i]["end"] + "' />" +
                                        "<span class='add-on'>" +
                                        "<i data-date-icon='icon-calendar' data-time-icon='icon-time' class='icon-time'></i>" +
                                        "</span>" +
                                        "</div>" +
                                        "</div>" +
                                        "<hr class= 'hr-top' style = 'margin-right:-14px' />"
                                    );
                                }
                            }
                        }
                    }, error: function (msg) {
                        toastr.error('执行失败!');
                    }
                });
                //非固定排休
                $.ajax({
                    type: "POST",
                    url: "/LevelsConfig/GetSetting",
                    data: {
                        area_node_id: area_node_id,
                        type: "unfixed_break"
                    },
                    success: function (msg) {
                        if (msg == "Fail") {
                            toastr.error('执行失败!');
                        }
                        else {
                            if (msg["fixBreak"] != null) {
                                document.getElementById('unfix_start_time1').value = msg["fixBreak"]["rest"][0]["start"];
                                document.getElementById('unfix_end_time1').value = msg["fixBreak"]["rest"][0]["end"];
                                unFixIndex = msg["fixBreak"]["rest"].length;
                                for (var i = 1; i < msg["fixBreak"]["rest"].length; i++) {
                                    $("#unfixAdd").append(
                                        "<div class='control-group'>" +
                                        "<h4>" + (i + 1) + "#</h4>" +
                                        "</div > " +
                                        "<hr class='hr-top' style='margin-right:-14px' />" +
                                        "<label class= 'control-label'> 开始时间</label >" +
                                        "<div class='datetimepicker input-append' id='datetimepicker'>" +
                                        "<input class='span12' type='text' id='unfix_start_time" + (i + 1) + "' name='unfix_start_time' data-format='yyyy-MM-dd hh:mm:ss' placeholder='2000-01-01 00:00:00' value='" + msg["fixBreak"]["rest"][i]["start"] + "' />" +
                                        "<span class='add-on'>" +
                                        "<i data-date-icon='icon-calendar' data-time-icon='icon-time' class='icon-calendar'></i>" +
                                        "</span>" +
                                        "</div>" +
                                        "</div >" +
                                        "<div class='control-group'>" +
                                        "<label class='control-label'>结束时间</label>" +
                                        "<div class='datetimepicker input-append' id='datetimepicker'>" +
                                        "<input class='span12' type='text' id='unfix_end_time" + (i + 1) + "' name='unfix_end_time' data-format='yyyy-MM-dd hh:mm:ss' placeholder='2000-01-01 00:00:00' value='" + msg["fixBreak"]["rest"][i]["end"] + "' />" +
                                        "<span class='add-on'>" +
                                        "<i data-date-icon='icon-calendar' data-time-icon='icon-time' class='icon-calendar'></i>" +
                                        "</span>" +
                                        "</div>" +
                                        "</div>" +
                                        "<hr class='hr-top' style='margin-right:-14px' />"
                                    );
                                }
                            }
                        }
                    }, error: function (msg) {
                        toastr.error('执行失败!');
                    }
                });
            },
            //设备绑定
            "click #bindingGroup": function (e, value, row, index) {
                document.getElementById("idGroup").value = row.id;
                document.getElementById("cnGroup").value = row.name_cn;
                document.getElementById("enGroup").value = row.name_en;
                document.getElementById("twGroup").value = row.name_tw;
                document.getElementById("descriptionGroup").value = row.description;
            },
            //编辑
            "click #editGroup": function (e, value, row, index) {
                document.getElementById('groupAddEditLabel').innerText = '编辑';
                document.getElementById("idGroup").value = row.id;
                document.getElementById("cnGroup").value = row.name_cn;
                document.getElementById("enGroup").value = row.name_en;
                document.getElementById("twGroup").value = row.name_tw;
                document.getElementById("descriptionGroup").value = row.description;
            },
            //删除
            'click #deleteGroup': function (e, value, row, index) {
                document.getElementById('deleteId').value = row.id;
                document.getElementById('deleteFlag').value = "area_node";
            }
        }
        //群组新增
        function AddGroup() {
            document.getElementById('groupAddEditLabel').innerText = '新增';
            document.getElementById("idGroup").value = 0;
            document.getElementById("enGroup").value = "";
            document.getElementById("twGroup").value = "";
            document.getElementById("cnGroup").value = "";
            document.getElementById("descriptionGroup").value = "";
        }
        //群组新增及编辑的确认后操作
        function groupConfirm() {
            var id = $('#idGroup').val();
            var name_en = $('#enGroup').val();
            var name_tw = $('#twGroup').val();
            var name_cn = $('#cnGroup').val();
            var description = $('#descriptionGroup').val();
            if (id != 0) {
                $.ajax({
                    type: "POST",
                    url: "/LevelsConfig/UpdateGroup",
                    data: {
                        id: id,
                        name_en: name_en,
                        name_tw: name_tw,
                        name_cn: name_cn,
                        description: description
                    },
                    success: function (msg) {
                        if (msg == "Success") {
                            toastr.success('数据新增成功!');
                            $('#groupAddEditModal').modal('hide');
                            $('#group').bootstrapTable('refresh');
                        } else {
                            toastr.error('执行失败!');
                        }
                    }, error: function (msg) {
                        toastr.error('执行失败!');
                    }
                });
            } else {
                $.ajax({
                    type: "POST",
                    url: "/LevelsConfig/AddGroup",
                    data: {
                        id: id,
                        name_en: name_en,
                        name_tw: name_tw,
                        name_cn: name_cn,
                        description: description
                    },
                    success: function (msg) {
                        if (msg == "Success") {
                            toastr.success('数据新增成功!');
                            $('#groupAddEditModal').modal('hide');
                            $('#group').bootstrapTable('refresh');
                        } else {
                            toastr.error('执行失败!');
                        }
                    }, error: function (msg) {
                        toastr.error('执行失败!');
                    }
                });

            }
        }

        //属性设置-添加固定排休
        function addFixedBreak() {
            fixIndex++;
            $("#fixAdd").append(
                "<div class='control-group'>" +
                "<h4>" + fixIndex+"#</h4>" +
                "</div > " +
                "<hr class='hr-top' style='margin-right:-14px' />" +
                "<div class='control-group'>" +
                "<label class= 'control-label'>开始时间</label >" +
                "<div class='timepicker input-append' id='timepicker'>" +
                "<input class='span12' type='text' id='fix_start_time" + fixIndex + "' name='fix_start_time' data-format='hh:mm:ss' placeholder='00:00:00' />" +
                "<span class='add-on'>" +
                "<i data-date-icon='icon-calendar' data-time-icon='icon-time' class='icon-time'></i>" +
                "</span>" +
                "</div>" +
                "</div >" +
                "<div class='control-group'>" +
                "<label class='control-label'>结束时间</label>" +
                "<div class='timepicker input-append' id='timepicker'>" +
                "<input class='span12' type='text' id='fix_end_time" + fixIndex + "' name='fix_end_time' data-format='hh:mm:ss' placeholder='00:00:00' />" +
                "<span class='add-on'>" +
                "<i data-date-icon='icon-calendar' data-time-icon='icon-time' class='icon-time'></i>" +
                "</span>" +
                "</div>" +
                "</div>" +
                "<hr class= 'hr-top' style = 'margin-right:-14px' />"
            );
        }
        //属性设置-添加非固定排休
        function addUnFixedBreak() {
            unFixIndex++;
            $("#unfixAdd").append(
                "<div class='control-group'>" +
                "<h4>" + unFixIndex + "#</h4>" +
                "<label class= 'control-label'> 开始时间</label >" +
                "<div class='datetimepicker input-append' id='datetimepicker'>" +
                "<input class='span12' type='text' id='unfix_start_time" + unFixIndex + "' name='unfix_start_time' data-format='yyyy-MM-dd hh:mm:ss' placeholder='2000-01-01 00:00:00' />" +
                "<span class='add-on'>" +
                "<i data-date-icon='icon-calendar' data-time-icon='icon-time' class='icon-calendar'></i>" +
                "</span>" +
                "</div>" +
                "</div >" +
                "<div class='control-group'>" +
                "<label class='control-label'>结束时间</label>" +
                "<div class='datetimepicker input-append' id='datetimepicker'>" +
                "<input class='span12' type='text' id='unfix_end_time" + unFixIndex + "' name='unfix_end_time' data-format='yyyy-MM-dd hh:mm:ss' placeholder='2000-01-01 00:00:00' />" +
                "<span class='add-on'>" +
                "<i data-date-icon='icon-calendar' data-time-icon='icon-time' class='icon-calendar'></i>" +
                "</span>" +
                "</div>" +
                "</div>"
            );
        }

        function settingConfirm() {
            var day_start_time = document.getElementsById("day_start_time");
            var day_end_time = document.getElementsByName("day_end_time");
            var night_start_time = document.getElementsByName("night_start_time");
            var night_end_time = document.getElementsByName("night_end_time");

            var fix_start_timeList = document.getElementsByName("fix_start_time");
            var fix_end_timeList = document.getElementsByName("fix_end_time");
            var unfix_start_timeList = document.getElementsByName("unfix_start_time");
            var unfix_end_timeList = document.getElementsByName("unfix_end_time");

            var fix_start_time = new Array();
            var fix_end_time = new Array();
            var unfix_start_time = new Array();
            var unfix_end_time = new Array();

            for (var i = 0; i < fix_start_timeList.length; i++) {
                fix_start_time.push(fix_start_timeList[i].value);
                fix_end_time.push(fix_end_timeList[i].value);
            }

            for (var i = 0; i < unfix_start_timeList.length; i++) {
                unfix_start_time.push(unfix_start_timeList[i].value);
                unfix_end_time.push(unfix_end_timeList[i].value);
            }

            var fixStartTime = fix_start_time.join(',');
            var fixEndTime = fix_end_time.join(',');
            var unfixStartTime = unfix_start_time.join(',');
            var unfixEndTime = unfix_end_time.join(',');

            $.ajax({
                type: "POST",
                url: "/LevelsConfig/UpdateSetting",
                data: {
                    day_start_time: day_start_time,
                    day_end_time: day_end_time,
                    night_start_time: night_start_time,
                    night_end_time: night_end_time,
                    fixStartTime: fixStartTime,
                    fixEndTime: fixEndTime,
                    unfixStartTime: unfixStartTime,
                    unfixEndTime: unfixEndTime,
                },
                success: function (msg) {
                    if (msg == "Success") {
                        toastr.success('属性配置成功!');
                        $('#mySetModal').modal('hide');
                        $('#group').bootstrapTable('refresh');
                    }
                    else {
                        toastr.success('属性配置失败!');

                    }
                }, error: function (msg) {
                    toastr.error('执行失败!');
                }
            });

        }

        //设备操作栏的格式化
        function machineActionFormatter(value, row, index) {
            var id = value;
            var result = "";
            result += "<a href='/MachineBind/Index' title='Tag点绑定' style='font-size:32px;'><span class='icon-list'></span></a>";
            result += "<a href='javascript:;' onclick=\"Edit('" + 1 + "')\" title='编辑' data-toggle='modal' data-target='#myAddEditModal' style='font-size:32px;'><span class='icon-edit-sign'></span></a>";
            result += "<a href='javascript:;' onclick=\"Delete('" + 1 + "')\" title='删除' data-toggle='modal' data-target='#myDelModal' style='font-size:32px;'><span class='icon-trash'></span></a>";
            return result;
        }

        //群组跳转
        function levelFormatter(value, row, index) {
            var id = value;
            var result = "";
            result += "<a href='javascript:;'><span style='color:#C8C8C8'>上一级</span></a>";
            result += "丨";
            result += "<a data-toggle='tab' href='#tab2' onclick=\"JumpToDown()\"><span>下一级</span></a>";
            return result;
        }

        //设备跳转
        function machineLevelFormatter(value, row, index) {
            var id = value;
            var result = "";
            result += "<a data-toggle='tab' href='#tab1' onclick=\"JumpToUp()\"><span>上一级</span></a>";
            result += "丨";
            result += "<a href='javascript:;'><span  style='color:#C8C8C8'>下一级</span></a>";
            return result;
        }

        //层级跳转
        function centerLevelFormatter(value, row, index) {
            var id = value;
            var result = "";
            result += "<a data-toggle='tab' href='#tab1' onclick=\"JumpToUp()\"><span>上一级</span></a>";
            result += "丨";
            result += "<a data-toggle='tab' href='#tab2' onclick=\"JumpToDown()\"><span>下一级</span></a>";
            return result;
        }

        //层级跳转（下一级）
        function JumpToDown() {
            $('#tabAll ul li').removeClass('active');
            $('#tabAll ul li:nth-of-type(3)').addClass('active');
        }
        //层级跳转（上一级）
        function JumpToUp() {
            $('#tabAll ul li').removeClass('active');
            $('#tabAll ul li:nth-of-type(1)').addClass('active');
        }
        
        //设备绑定
        function Binding() {
            

        }
        
        //删除（共用）
        function Delete() {
            var id = $('#deleteId').val();
            var flag = $('#deleteFlag').val();
            $.ajax({
                type: "POST",
                url: "/LevelsConfig/Delete",
                data: {
                    id: id,
                    flag: flag
                },
                success: function (msg) {
                    if (msg == "Success") {
                        toastr.success('删除数据成功!');
                        $('#myDelModal').modal('hide');
                        $('#group').bootstrapTable('refresh');
                    } else {
                        toastr.error('执行失败!');
                    }
                }, error: function (msg) {
                    toastr.error('执行失败!');
                }
            });
        }

        //Tag绑定
        function TagBind(a) {
            document.getElementById('deleteId').value = a;
        }

        //属性设置中三种属性切换
        function settingFunc(value) {
            //排班
            if (value == "排班") {    
                document.getElementById('classContent').style.cssText  = 'display:block';
                document.getElementById('fixRest').style.cssText = 'display:none';
                document.getElementById('unfixRest').style.cssText = 'display:none';
            }
            //固定排休
            else if (value == "固定排休") {
                document.getElementById('classContent').style.cssText = 'display:none';
                document.getElementById('fixRest').style.cssText = 'display:block';
                document.getElementById('unfixRest').style.cssText = 'display:none';
                
            }
            //非固定排休
            else {
                document.getElementById('classContent').style.cssText = 'display:none';
                document.getElementById('fixRest').style.cssText = 'display:none';
                document.getElementById('unfixRest').style.cssText = 'display:block';
                
            }

        }

        //添加层级
        function addLevel() {
            var name_en = $('#enLevel').val();
            var name_cn = $('#cnLevel').val();
            var name_tw = $('#twLevel').val();
            var description = $('#descriptionLevel').val();
            var upper_id = $('#LevelFlag').val();
            $.ajax({
                type: "POST",
                url: "/LevelsConfig/AddLevel",
                data: {
                    name_en: name_en,
                    name_cn: name_cn,
                    name_tw: name_tw,
                    description: description,
                    upper_id: upper_id
                },
                success: function (msg) {
                    if (msg == "Success") {
                        toastr.success('添加层级成功!');
                        window.location.href = "/LevelsConfig/Index";
                    } else {
                        toastr.error('执行失败!');
                    }
                }, error: function (msg) {
                    toastr.error('执行失败!');
                }
            });

        }
    </script>
</head>
<body>
    <div class='row-fluid'>
        <!--页面抬头-->
        <div class="span12">
            <div class='page-header'>
                <div class='pull-left' style="font-size:18px">
                    <a href="#" style="color:#008FD7;font-weight:600"><span>公共配置</span></a>
                    <i class='icon-angle-right'></i>
                    <span>层级配置</span>
                </div>
            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12 box' style='margin-bottom: 0'>
            <div class='box-content'>
                <div class='tabbable' id="tabAll">
                    <ul class='nav nav-tabs'>
                        <!--群组-->
                        <li class='@if (ViewBag.tab==1) {<text></text> }else{<text>active</text>}'>
                            <a data-toggle='tab' href='#tab1'>
                                <i class='icon-home'></i>
                                群组
                            </a>
                        </li>
                        <!--各层级-->
                        @if (ViewBag.Layer.Count > 0)
                        {
                            for (var i=1;i< ViewBag.Layer.Count; i++)
                            {
                                <li>
                                    <a data-toggle="tab" href="#tab3">
                                        @ViewBag.Layer[i].name_cn
                                        <i class="icon-chevron-right"></i>
                                    </a>
                                </li>
                            }  
                        }

                        <!--设备-->
                        <li class='@if (ViewBag.tab==1) {<text>active</text> }'>

                            <a data-toggle='tab' href='#tab2'>

                                <i class='icon-desktop'></i>
                                设备
                            </a>
                        </li>
                        <!--添加层级-->
                        <li>
                            <a class="btn btn-primary" data-toggle='modal' data-target='#myAddLevelModal'>
                                <i class='icon-plus'></i>
                                添加层级
                            </a>
                        </li>
                    </ul>
                    <div class='tab-content'>
                        <!--群组-->
                        <div class='@if (ViewBag.tab==1) {<text>tab-pane</text> }else{<text>tab-pane active</text> }' id='tab1'>
                            <div style="padding:10px 0px">
                                <div class="form-group">
                                    <button class="btn btn-primary" data-toggle='modal' data-target='#groupAddEditModal' onclick="AddGroup()"><span class="icon-plus"> 新增</span></button>
                                </div>
                            </div>
                            <table class="table" id="group"></table>
                        </div>
                        <!--各层级-->
                        <div class='tab-pane' id='tab3'>
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="control-label">群组</label>
                                </div>
                                <div class="form-group">
                                    <select class="select2" id="city">
                                        <option value="0">-请选择-</option>
                                        <option value="1">Group1</option>
                                        <option value="2">Group2</option>
                                        <option value="3">Group3</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary"><span class="icon-search"> 查询</span></button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" data-toggle='modal' data-target='#myAddEditModal' onclick="Add()"><span class="icon-plus"> 新增</span></button>
                                </div>
                            </form>
                            <table class="table" id="cityTable"></table>
                        </div>
                        <!--设备-->
                        <div class='@if (ViewBag.tab==1) {<text>tab-pane active</text> }else{<text>tab-pane</text> }' id='tab2' >
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="control-label">父级</label>
                                </div>
                                <div class="form-group">
                                    <select class="select2" id="father">
                                        <option value="0">-请选择-</option>
                                        <option value="1">群组</option>
                                        <option value="2">城市</option>
                                        <option value="3">厂区</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">父级内容</label>
                                </div>
                                <div class="form-group">
                                    <select class="select2" id="content">
                                        <option value="0">-请选择-</option>
                                        <option value="1">昆山</option>
                                        <option value="2">南京</option>
                                        <option value="3">苏州</option>
                                        <option value="4">无锡</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="name">设备</label>
                                    <input type="text" class='span9' id="machineName" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary"><span class="icon-search"> 查询</span></button>
                                </div>
                            </form>
                            <table class="table" id="machineAll"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <!-- 属性设置模态框（Modal） -->
        <div class="modal fade" id="mySetModal" style="display:none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="mySetLabel">
                            属性设置
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input class='span12' type="hidden" id="area_node_id" />
                        <div class="control-group">
                            <label class="control-label">属性</label>
                        </div>
                        <div class="control-group">
                            <select class="select2 span12" id="settingSelect" onchange="settingFunc(this.options[this.options.selectedIndex].value)" style="width:100%">
                                <option value="排班">排班</option>
                                <option value="固定排休">固定排休</option>
                                <option value="非固定排休">非固定排休</option>
                            </select>
                        </div>
                        <hr class="hr-top" style="margin-right:-14px" />
                        <!-- 默认呈现的是班次的配置 -->
                        <div id="classContent" style="display:block">
                            <div class="control-group">
                                <h4>白班</h4>
                            </div>
                            <hr class="hr-top" style="margin-right:-14px" />
                            <div class="control-group">
                                <label class="control-label">开始时间</label>
                                <div class='timepicker input-append' id='timepicker'>
                                    <input class='span12' type="text" id="day_start_time" data-format='hh:mm:ss' placeholder='00:00:00' />
                                    <span class='add-on'>
                                        <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-time"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">结束时间</label>
                                <div class='timepicker input-append' id='timepicker'>
                                    <input class='span12' type="text" id="day_end_time" data-format='hh:mm:ss' placeholder='00:00:00' />
                                    <span class='add-on'>
                                        <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-time"></i>
                                    </span>
                                </div>
                            </div>
                            <hr class="hr-top" style="margin-right:-14px" />
                            <div class="control-group">
                                <h4>夜班</h4>
                            </div>
                            <hr class="hr-top" style="margin-right:-14px" />
                            <div class="control-group">
                                <label class="control-label">开始时间</label>
                                <div class='timepicker input-append' id='timepicker'>
                                    <input class='span12' type="text" id="night_start_time" data-format='hh:mm:ss' placeholder='00:00:00' />
                                    <span class='add-on'>
                                        <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-time"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">结束时间</label>
                                <div class='timepicker input-append' id='timepicker'>
                                    <input class='span12' type="text" id="night_end_time" data-format='hh:mm:ss' placeholder='00:00:00' />
                                    <span class='add-on'>
                                        <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-time"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div id="fixRest" style="display:none">
                            <div class="control-group">
                                <h4>1#</h4>
                            </div>
                            <hr class="hr-top" style="margin-right:-14px" />
                            <div class="control-group">
                                <label class="control-label">开始时间</label>
                                <div class='timepicker input-append' id='timepicker'>
                                    <input class='span12' type="text" id="fix_start_time1" name="fix_start_time" data-format='hh:mm:ss' placeholder='00:00:00' />
                                    <span class='add-on'>
                                        <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-time"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">结束时间</label>
                                <div class='timepicker input-append' id='timepicker'>
                                    <input class='span12' type="text" id="fix_end_time1" name="fix_end_time" data-format='hh:mm:ss' placeholder='00:00:00' />
                                    <span class='add-on'>
                                        <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-time"></i>
                                    </span>
                                </div>
                            </div>
                            <hr class="hr-top" style="margin-right:-14px" />
                            <div id="fixAdd">
                            </div>
                            <button type="button" class="btn btn-primary" onclick="addFixedBreak()">
                               添加排休
                            </button>
                        </div>

                        <div id="unfixRest" style="display:none">
                            <div class="control-group">
                                <h4>1#</h4>
                            </div>
                            <hr class="hr-top" style="margin-right:-14px" />
                            <div class="control-group">
                                <label class="control-label">开始时间</label>
                                <div class='datetimepicker input-append' id='datetimepicker'>
                                    <input class='span12' type="text" id="unfix_start_time1" name="unfix_start_time" data-format='yyyy-MM-dd hh:mm:ss' placeholder='2000-01-01 00:00:00' />
                                    <span class='add-on'>
                                        <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">结束时间</label>
                                <div class='datetimepicker input-append' id='datetimepicker'>
                                    <input class='span12' type="text" id="unfix_end_time1" name="unfix_end_time" data-format='yyyy-MM-dd hh:mm:ss' placeholder='2000-01-01 00:00:00' />
                                    <span class='add-on'>
                                        <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <hr class="hr-top" style="margin-right:-14px" />
                            <div id="unfixAdd">
                            </div>
                            <button type="button" class="btn btn-primary" onclick="addUnFixedBreak()">
                                添加排休
                            </button>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary" onclick="settingConfirm()">
                            确认
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!-- 设备绑定模态框（Modal） -->
        <div class="modal fade" id="myBindModal" style="display:none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myBindLabel">
                            设备绑定
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="control-group">
                            <select class="select2 span12" id="machineBind" multiple="" style="width:100%">
                                <option value="1">Machine011</option>
                                <option value="2">Machine012</option>
                                <option value="3">Machine013</option>
                                <option value="4">Machine014</option>
                                <option value="5">Machine015</option>
                                <option value="6">Machine016</option>
                                <option value="7">Machine017</option>
                                <option value="8">Machine018</option>
                                <option value="9">Machine019</option>
                                <option value="10">Machine020</option>
                            </select>
                        </div>
                        <hr class="hr-top" style="margin-right:-14px" />
                        <div class="control-group">
                            <h4>已绑定的设备</h4>
                        </div>
                        <div class="control-group">
                            <table class="table" id="machineList"></table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 新增编辑模态框（Modal） -->
        <div class="modal fade" id="groupAddEditModal" style="display:none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="groupAddEditLabel">
                            编辑
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" class="span12" id="idGroup" name="idGroup" />
                        <div class="control-group">
                            <label class="control-label">群组（英）</label>
                            <input class="span12" type="text" id="enGroup" />
                        </div>
                        <div class="control-group">
                            <label class="control-label">群组（间中）</label>
                            <input class="span12" type="text" id="cnGroup" />
                        </div>
                        <div class="control-group">
                            <label class="control-label">群组（繁中）</label>
                            <input class="span12" type="text" id="twGroup" />
                        </div>
                        <div class="control-group">
                            <label class="control-label">描述</label>
                            <input class="span12" type="text" id="descriptionGroup" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary" onclick="groupConfirm()">
                            确认
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 删除模态框（Modal） -->
        <div class="modal fade" id="myDelModal" style="display:none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myDelLabel">
                            删除
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div>是否确认删除该条记录？</div>
                        <input type="hidden" id="deleteId" />
                        <input type="hidden" id="deleteFlag" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            否
                        </button>
                        <button type="button" class="btn btn-primary" onclick="Delete()">
                            是
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 新增层级模态框（Modal） -->
        <div class="modal fade" id="myAddLevelModal" style="display:none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myAddEditLabel">
                            添加层级
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label">层级名称（英）</label>
                            <input class="span12" type="text" id="enLevel" />
                            <input class="span12" type="hidden" id="LevelFlag" value="@ViewBag.LevelFlag" />
                        </div>
                        <div class="control-group">
                            <label class="control-label">层级名称（间中）</label>
                            <input class="span12" type="text" id="cnLevel" />
                        </div>
                        <div class="control-group">
                            <label class="control-label">层级名称（繁中）</label>
                            <input class="span12" type="text" id="twLevel" />
                        </div>
                        <div class="control-group">
                            <label class="control-label">描述</label>
                            <input class="span12" type="text" id="descriptionLevel" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary" onclick="addLevel()">
                            确认
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
</body>