
<head>
    <!-- / jquery -->
    <script src='~/assets/javascripts/jquery/jquery.min.js' type='text/javascript'></script>
    
    <script type='text/javascript'>
        var fixIndex = 1;//固定排休数
        var unFixIndex = 1;//非固定排休数
        $(document).ready(function () {
            $.fn.modal.Constructor.prototype.enforceFocus = function () { }
        });
        $(function () {
            $('.navigation ul li:nth-of-type(1) ul').attr("class", "nav nav-stacked in");
            $('.navigation ul li:nth-of-type(1) ul li:nth-of-type(1)').addClass('active');
            //父级名称下拉框
            GetFatherName("machineFatherSearch", "area_layer", 0);
            GetFatherName("machineFatherAdd", "area_layer", 0);
            //群组
            $('#group').bootstrapTable({
                url: '/LevelsConfig/GetGroup',
                method: 'get',
                theadClasses: "thead-blue",
                striped: true,  //表格显示条纹，默认为false
                pagination: true,
                sidePagination: "client",//分页方式：client客户端(前台)分页，server服务端（后台）分页（*）
                pageNumber: 1,//初始化加载第一页，默认第一页
                pageSize: 10,//每页的记录行数（*）
                undefinedText: '---', //当数据为 undefined 时显示的字符
                paginationDetailHAlign: 'left',
                toolbarAlign: 'right',
                columns: [{
                    field: 'no',
                    title: '序号',
                    formatter: function (value, row, index) {
                        return  index + 1;
                    }
                },{
                    field: 'id',
                    title: 'id',
                    visible: false
                }, {
                    field: 'name_cn',
                    title: '群组名称'
                }, {
                    field: 'description',
                    title: '描述'
                }, {
                    field: 'actionEventA',
                    title: '属性设置(班别,排休)',
                    formatter: groupActionFormatterA,
                    events: groupOperateEvents
                }, {
                    field: 'actionEventB',
                    title: '设备绑定',
                    formatter: groupActionFormatterB,
                    events: groupOperateEvents
                }, {
                    field: 'actionEvents',
                    title: '操作',
                    formatter: groupActionFormatters,
                    events: groupOperateEvents
                }]
            });
            //设备绑定中，已绑定的设备
            $('#machineList').bootstrapTable({
                url: '/LevelsConfig/GetMachineNodeList',
                method: 'get',
                theadClasses: "thead-blue",
                striped: true,  //表格显示条纹，默认为false
                pagination: true,
                sidePagination: "client",//分页方式：client客户端(前台)分页，server服务端（后台）分页（*）
                pageNumber: 1,//初始化加载第一页，默认第一页
                pageSize: 10,//每页的记录行数（*）
                undefinedText: '---', //当数据为 undefined 时显示的字符
                paginationDetailHAlign: 'left',
                toolbarAlign: 'right',
                columns: [{
                    field: 'no',
                    title: '序号',
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                }, {
                    field: 'id',
                    title: 'id',
                    visible: false
                }, {
                    field: 'area_node_id',
                    title: 'area_node_id',
                    visible: false
                }, {
                    field: 'name_cn',
                    title: '设备名称'
                }, {
                    field: 'description',
                    title: '描述'
                }, {
                    field: 'actionEvent',
                    title: '取消绑定',
                    formatter: machineNodeActionFormatter,
                    events: machineNodeOperateEvents
                }]
            });
            //所有未绑定的设备
            GetUnBindMachine();
            //中间层级表格数据添加
            $('#levelTable').bootstrapTable({
                url: '/LevelsConfig/GetGroup?area_layer_id=1',
                method: 'get',
                theadClasses: "thead-blue",
                striped: true,  //表格显示条纹，默认为false
                pagination: true,
                sidePagination: "client",//分页方式：client客户端(前台)分页，server服务端（后台）分页（*）
                pageNumber: 1,//初始化加载第一页，默认第一页
                pageSize: 10,//每页的记录行数（*）
                undefinedText: '---', //当数据为 undefined 时显示的字符
                paginationDetailHAlign: 'left',
                toolbarAlign: 'right',
                columns: [{
                    field: 'no',
                    title: '序号',
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                }, {
                    field: 'id',
                    title: 'id',
                    visible: false
                }, {
                    field: 'area_node_name',
                    title: '父级'
                }, {
                    field: 'name_cn',
                    title: '名称'
                }, {
                    field: 'description',
                    title: '描述'
                },{
                    field: 'actionEventA',
                    title: '属性设置(班别,排休)',
                    formatter: groupActionFormatterA,
                    events: groupOperateEvents
                }, {
                    field: 'actionEventB',
                    title: '设备绑定',
                    formatter: groupActionFormatterB,
                    events: groupOperateEvents
                }, {
                    field: 'actionEvents',
                    title: '操作',
                    formatter: groupActionFormatters,
                    events: groupOperateEvents
                }]
            }); 
            //所有设备
            $('#machineAll').bootstrapTable({
                url: '/LevelsConfig/GetMachineList',
                method: 'get',
                theadClasses: "thead-blue",
                striped: true,  //表格显示条纹，默认为false
                pagination: true,
                sidePagination: "client",//分页方式：client客户端(前台)分页，server服务端（后台）分页（*）
                pageNumber: 1,//初始化加载第一页，默认第一页
                pageSize: 10,//每页的记录行数（*）
                undefinedText: '---', //当数据为 undefined 时显示的字符
                paginationDetailHAlign: 'left',
                toolbarAlign: 'right',
                columns: [{
                    field: 'no',
                    title: '序号',
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                },{
                    field: 'id',
                    title: 'id',
                    visible: false
                },{
                    field: 'area_layer_id',
                    title: 'area_layer_id',
                    visible: false  
                },{
                    field: 'area_node_id',
                    title: 'area_node_id',
                    visible: false
                },{
                    field: 'area_node_name',
                    title: '父级'
                }, {
                    field: 'name_cn',
                    title: '设备名称'
                }, {
                    field: 'description',
                    title: '描述'
                },{
                    field: 'tag',
                    title: '绑定的标签类型',
                        formatter: function (value, row, index) {                  
                            var str = JSON.stringify(row.tag);
                            var myTag = new Array();
                            var result="";
                            
                            myTag = str.split(";");
                            if (myTag.length == 1) { return "---" }
                            else {
                                for (var i = 0; i < myTag.length-1; i++) {
                                    result += myTag[i].replace("\"","") + "；";
                                    if ((i+1)% 4 == 0) {
                                        result +="<br/>"
                                    }
                                }
                                return result
                            }
                    }
                }, {
                    field: 'actionEventA',
                    title: '标签点绑定',
                    formatter: machineActionFormatterA,
                    events: machineOperateEvents
                }, {
                    field: 'actionEvents',
                    title: '操作',
                    formatter: machineActionFormatters,
                    events: machineOperateEvents
                }]
            });  
        });

        //添加层级
        function addLevel() {
            var name_en = $('#enLevel').val();
            var name_cn = $('#cnLevel').val();
            var name_tw = $('#twLevel').val();
            var description = $('#descriptionLevel').val();
            var id = $('#editLayer').val();

            if (name_en == "" || name_cn == "" || name_tw == "") {
                toastr.error("层级名称不能为空");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/LevelsConfig/AddLevel",
                    data: {
                        name_en: name_en,
                        name_cn: name_cn,
                        name_tw: name_tw,
                        description: description,
                        id: id
                    },
                    success: function (msg) {
                        if (msg == "Success") {
                            toastr.success('添加层级成功!');
                            window.location.href = "/LevelsConfig/Index";
                        } else {
                            toastr.error('执行失败!');
                        }
                    }, error: function (msg) {
                        toastr.error('执行失败!');
                    }
                });
            }

            

        }
        //新增层级
        function addNewLevel() {
            document.getElementById("editLayer").value = "";
        }
        //编辑层级
        function EditLevel() {
            document.getElementById("myAddEditLabel").innerHTML = "修改层级"; 
            var urlPara = "area_layer";
            var area_layer_id = $("#editLayer").val();
            $.ajax({
                type: "POST",
                url: "/LevelsConfig/GetLevel",
                data: {
                    urlPara: urlPara,
                    area_layer_id: area_layer_id
                },
                success: function (msg) {
                    for (var i = 0; i < msg.length; i++) {
                        if (msg[i].id == parseInt(area_layer_id)) {
                            document.getElementById("cnLevel").value = msg[i].name_cn;
                            document.getElementById("twLevel").value = msg[i].name_en;
                            document.getElementById("enLevel").value = msg[i].name_tw;
                            document.getElementById("descriptionLevel").value = msg[i].description;
                        }
                    }
                    
                }, error: function (msg) {
                    toastr.error('执行失败!');
                }
            });
        }

        function DeleteLevel() {
            document.getElementById("deleteId").value = document.getElementById("deleteLayer").value;
            document.getElementById("deleteFlag").value = "area_layer";
            document.getElementById("deletInfo").innerHTML = "是否确认删除该记录？（该层级及其相关的所有内容将被删除）";
        }

        //群组及层级的操作栏格式化
        function groupActionFormatterA(value, row, index) {
            var result = "";
            result += "<a id='settingGroup' title='属性设置' data-toggle='modal' data-target='#mySetModal' style='font-size:32px;'><span class='icon-cog'></span></a>";
            return result;
        }
        function groupActionFormatterB(value, row, index) {
            var result = "";
            result += "<a id='bindingGroup' title='设备绑定' data-toggle='modal' data-target='#myBindModal' style='font-size:32px;'><span class='icon-sitemap'></span></a>";
            return result;
        }
        function groupActionFormatters(value, row, index) {
            var result = "";
           // result += "<a id='settingGroup' href='javascript:;' title='属性设置' data-toggle='modal' data-target='#mySetModal' style='font-size:32px;'><span class='icon-cog'></span></a>";
            //result += "<a id='bindingGroup' href='javascript:;' title='设备绑定' data-toggle='modal' data-target='#myBindModal' style='font-size:32px;'><span class='icon-sitemap'></span></a>";
            result += "<a id='editGroup' title='编辑' data-toggle='modal' data-target='#groupAddEditModal' style='font-size:32px;'><span class='icon-edit-sign'></span></a>";
            result += "<a id='deleteGroup' title='删除' data-toggle='modal' data-target='#myDelModal' style='font-size:32px;'><span class='icon-trash'></span></a>";
            return result;
        }

        //群组事件操作
        window.groupOperateEvents = {
            //属性设置
            "click #settingGroup": function (e, value, row, index) {
                //模态框初始化
                $("#settingSelect").val("排班").select2();

                document.getElementById('classContent').style.cssText = 'display:block';
                document.getElementById('fixRest').style.cssText = 'display:none';
                document.getElementById('unfixRest').style.cssText = 'display:none';

                document.getElementById("area_node_id").value = row.id;

                document.getElementById('day_start_time').value = "";
                document.getElementById('day_end_time').value = "";
                document.getElementById('night_start_time').value = "";
                document.getElementById('night_end_time').value = "";

                document.getElementById("fixAdd").innerHTML = "";
                document.getElementById('fix_start_time1').value = "";
                document.getElementById('fix_end_time1').value = "";

                document.getElementById("unfixAdd").innerHTML = "";
                document.getElementById('unfix_start_time1').value = "";
                document.getElementById('unfix_end_time1').value = "";

                var area_node_id = row.id;
                //排休
                $.ajax({
                    type: "POST",
                    url: "/LevelsConfig/GetSetting",
                    data: {
                        area_node_id: area_node_id,
                        type: "shift"
                    },
                    success: function (msg) {
                        if (msg == "Fail") {
                            toastr.error('执行失败!');
                        }
                        else {
                            if (msg["shift"] != null) {
                                document.getElementById('day_start_time').value = msg["shift"]["day"]["start"];
                                document.getElementById('day_end_time').value = msg["shift"]["day"]["end"];
                                document.getElementById('night_start_time').value = msg["shift"]["night"]["start"];
                                document.getElementById('night_end_time').value = msg["shift"]["night"]["end"];
                            }
                        }
                    }, error: function (msg) {
                        toastr.error('执行失败!');
                    }
                });
                //固定排休
                $.ajax({
                    type: "POST",
                    url: "/LevelsConfig/GetSetting",
                    data: {
                        area_node_id: area_node_id,
                        type: "fixed_break"
                    },
                    success: function (msg) {
                        if (msg == "Fail") {
                            toastr.error('执行失败!');
                        }
                        else {
                            if (msg["fixBreak"] != null) {
                                document.getElementById('fix_start_time1').value = msg["fixBreak"]["rest"][0]["start"];
                                document.getElementById('fix_end_time1').value = msg["fixBreak"]["rest"][0]["end"];
                                fixIndex = msg["fixBreak"]["rest"].length;
                                for (var i = 1; i < msg["fixBreak"]["rest"].length; i++) {
                                    $("#fixAdd").append(
                                        "<div id='fix" + (i + 1) + "'>" +
                                        "<div class='control-group'>" +
                                        "<h4>" + (i + 1) + "#</h4>" +
                                        "</div>" +
                                        "<hr class='hr-top' style='margin-right:-14px' />" +
                                        "<div class='control-group'>" +
                                        "<label class= 'control-label'>开始时间</label >" +
                                        "<div class='timepicker input-append' id='timepicker'>" +
                                        "<input class='span12' type='text' id='fix_start_time" + (i + 1) + "' name='fix_start_time' data-format='hh:mm:ss' placeholder='00:00:00' value='" + msg["fixBreak"]["rest"][i]["start"] + "' />" +
                                        "<span class='add-on'>" +
                                        "<i data-date-icon='icon-calendar' data-time-icon='icon-time' class='icon-time'></i>" +
                                        "</span>" +
                                        "</div>" +
                                        "</div >" +
                                        "<div class='control-group'>" +
                                        "<label class='control-label'>结束时间</label>" +
                                        "<div class='timepicker input-append' id='timepicker'>" +
                                        "<input class='span12' type='text' id='fix_end_time" + (i + 1) + "' name='fix_end_time' data-format='hh:mm:ss' placeholder='00:00:00' value='" + msg["fixBreak"]["rest"][i]["end"] + "' />" +
                                        "<span class='add-on'>" +
                                        "<i data-date-icon='icon-calendar' data-time-icon='icon-time' class='icon-time'></i>" +
                                        "</span>" +
                                        "</div>" +
                                        "</div>" +
                                        "<button class='btn btn-danger' onclick='FixDivDel(" + (i + 1) + ")'>删除</button>" +
                                        "<hr class= 'hr-top' style = 'margin-right:-14px' />" +
                                        "</div>"
                                    );
                                }
                            }
                        }
                    }, error: function (msg) {
                        toastr.error('执行失败!');
                    }
                });
                //非固定排休
                $.ajax({
                    type: "POST",
                    url: "/LevelsConfig/GetSetting",
                    data: {
                        area_node_id: area_node_id,
                        type: "unfixed_break"
                    },
                    success: function (msg) {
                        if (msg == "Fail") {
                            toastr.error('执行失败!');
                        }
                        else {
                            if (msg["fixBreak"] != null) {
                                document.getElementById('unfix_start_time1').value = msg["fixBreak"]["rest"][0]["start"];
                                document.getElementById('unfix_end_time1').value = msg["fixBreak"]["rest"][0]["end"];
                                unFixIndex = msg["fixBreak"]["rest"].length;
                                for (var i = 1; i < msg["fixBreak"]["rest"].length; i++) {
                                    $("#unfixAdd").append(
                                        "<div id='unfix" + (i + 1) + "'>" +
                                        "<div class='control-group'>" +
                                        "<h4>" + (i + 1) + "#</h4>" +
                                        "</div > " +
                                        "<hr class='hr-top' style='margin-right:-14px' />" +
                                        "<label class= 'control-label'> 开始时间</label >" +
                                        "<div class='datetimepicker input-append' id='datetimepicker'>" +
                                        "<input class='span12' type='text' id='unfix_start_time" + (i + 1) + "' name='unfix_start_time' data-format='yyyy-MM-dd hh:mm:ss' placeholder='2000-01-01 00:00:00' value='" + msg["fixBreak"]["rest"][i]["start"] + "' />" +
                                        "<span class='add-on'>" +
                                        "<i data-date-icon='icon-calendar' data-time-icon='icon-time' class='icon-calendar'></i>" +
                                        "</span>" +
                                        "</div>" +
                                        "<div class='control-group'>" +
                                        "<label class='control-label'>结束时间</label>" +
                                        "<div class='datetimepicker input-append' id='datetimepicker'>" +
                                        "<input class='span12' type='text' id='unfix_end_time" + (i + 1) + "' name='unfix_end_time' data-format='yyyy-MM-dd hh:mm:ss' placeholder='2000-01-01 00:00:00' value='" + msg["fixBreak"]["rest"][i]["end"] + "' />" +
                                        "<span class='add-on'>" +
                                        "<i data-date-icon='icon-calendar' data-time-icon='icon-time' class='icon-calendar'></i>" +
                                        "</span>" +
                                        "</div>" +
                                        "</div>" +
                                        "<button class='btn btn-danger' onclick='UnFixDivDel(" + (i + 1) + ")'>删除</button>" +
                                        "<hr class='hr-bottom' style='margin-right:-14px' />" +
                                        "</div>"
                                    );
                                }
                            }
                        }
                    }, error: function (msg) {
                        toastr.error('执行失败!');
                    }
                });
            },
            //设备绑定
            "click #bindingGroup": function (e, value, row, index) {
                document.getElementById("machine_area_node_id").value = row.id;
                $("#machineBind").empty();
                var area_node_id = $("#machine_area_node_id").val();
                $('#machineList').bootstrapTable('refresh', { url: "/LevelsConfig/GetMachineNodeList?area_node_id=" + area_node_id + "" });
                //所有未绑定的设备
                GetUnBindMachine()
            },
            //编辑
            "click #editGroup": function (e, value, row, index) {
                document.getElementById('groupAddEditLabel').innerText = '编辑';
                document.getElementById("idGroup").value = row.id;
                document.getElementById("cnGroup").value = row.name_cn;
                document.getElementById("enGroup").value = row.name_en;
                document.getElementById("twGroup").value = row.name_tw;
                document.getElementById("descriptionGroup").value = row.description;
                $("#levelUTC").val('' + row.format + '').select2();
                $("#modal_upper_id").val('' + row.upper_id + '').select2();
            },
            //删除
            'click #deleteGroup': function (e, value, row, index) {
                document.getElementById('deleteId').value = row.id;
                document.getElementById('deleteFlag').value = "area_node";
            }
        }
        /**
         * 群组
         * 
         * */
        //upper_id和area_layer_id赋值
        function changeGroup() {
            document.getElementById("modal_area_layer_id").value = 1;
            document.getElementById("modal_upper_id").value = 0;
            //修改模态框中标签名称，使之与层级名称一致
            document.getElementById("enLabel").innerHTML = "群组（英文）";
            document.getElementById("cnLabel").innerHTML = "群组（简中）";
            document.getElementById("twLabel").innerHTML = "群组（繁体）";
            document.getElementById("descriptionLabel").innerHTML = "群组（描述）";
            //群组下的层级增加层级内容下拉框
            document.getElementById("modalFatherSelect").style.display = "none";

            document.getElementById("modalUTC").style.display = "block";
            $('#group').bootstrapTable('refresh');
        }
        //群组新增
        function AddGroup() {
            document.getElementById('groupAddEditLabel').innerText = '新增';
            document.getElementById("idGroup").value = 0;
            document.getElementById("enGroup").value = "";
            document.getElementById("twGroup").value = "";
            document.getElementById("cnGroup").value = "";
            document.getElementById("descriptionGroup").value = "";
        }
        //群组新增及编辑的确认后操作
        function groupConfirm() {
            var id = $('#idGroup').val();
            var name_en = $('#enGroup').val();
            var name_tw = $('#twGroup').val();
            var name_cn = $('#cnGroup').val();
            var description = $('#descriptionGroup').val();
            var upper_id = $("#modal_upper_id").find("option:selected").val();
            var area_layer_id = $('#modal_area_layer_id').val();
            var utc = $("#levelUTC").find("option:selected").val();

            if (name_cn == "" || name_en == "" || name_tw == "") {
                toastr.error("节点名称不能为空");
            } else {
                if (id != 0) {
                    $.ajax({
                        type: "POST",
                        url: "/LevelsConfig/UpdateGroup",
                        data: {
                            id: id,
                            name_en: name_en,
                            name_tw: name_tw,
                            name_cn: name_cn,
                            description: description,
                            upper_id: upper_id,
                            area_layer_id: area_layer_id,
                            utc: utc
                        },
                        success: function (msg) {
                            if (msg == "Success") {
                                toastr.success('数据修改成功!');
                                $('#groupAddEditModal').modal('hide');
                                $('#group').bootstrapTable('refresh');
                                $('#levelTable').bootstrapTable('refresh');
                            } else {
                                toastr.error('执行失败!');
                            }
                        }, error: function (msg) {
                            toastr.error('执行失败!');
                        }
                    });
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/LevelsConfig/AddGroup",
                        data: {
                            id: id,
                            name_en: name_en,
                            name_tw: name_tw,
                            name_cn: name_cn,
                            description: description,
                            upper_id: upper_id,
                            area_layer_id: area_layer_id,
                            utc: utc
                        },
                        success: function (msg) {
                            if (msg == "Success") {
                                toastr.success('数据新增成功!');
                                $('#groupAddEditModal').modal('hide');
                                $('#group').bootstrapTable('refresh');
                                $('#levelTable').bootstrapTable('refresh');
                            } else {
                                toastr.error('执行失败!');
                            }
                        }, error: function (msg) {
                            toastr.error('执行失败!');
                        }
                    });
                }
            }

            
        }

        /**
         * 属性设置
         * 
         * */
        //属性设置-添加固定排休
        function addFixedBreak() {
            fixIndex++;
            $("#fixAdd").append(
                "<div id='fix" + fixIndex+"'>" +
                "<div class='control-group'>" +
                "<h4>" + fixIndex+"#</h4>" +
                "</div > " +
                "<hr class='hr-top' style='margin-right:-14px' />" +
                "<div class='control-group'>" +
                "<label class= 'control-label'>开始时间</label >" +
                "<div class='input-append date timepicker' id='timepicker'>" +
                "<input class='span12' type='text' id='fix_start_time" + fixIndex + "' name='fix_start_time' data-format='hh:mm' placeholder='00:00'/>" +
                "<span class='add-on'>" +
                "<i data-date-icon='icon-calendar' data-time-icon='icon-time' class='icon-time'></i>" +
                "</span>" +
                "</div>" +
                "</div >" +
                "<div class='control-group'>" +
                "<label class='control-label'>结束时间</label>" +
                "<div class='input-append date timepicker' id='timepicker'>" +
                "<input class='span12' type='text' id='fix_end_time" + fixIndex + "' name='fix_end_time' data-format='hh:mm' placeholder='00:00'/>" +
                "<span class='add-on'>" +
                "<i data-date-icon='icon-calendar' data-time-icon='icon-time' class='icon-time'></i>" +
                "</span>" +
                "</div>" +
                "</div>" +
                "<button class='btn btn-danger' onclick='FixDivDel(" + fixIndex + ")'>删除</button>" +
                "<hr class= 'hr-top' style = 'margin-right:-14px' />" +
                "</div>" 
            );
        }
        //属性设置-删除固定排休
        function FixDivDel(id) {
            $("#fix" + id + "").remove();
        }
        //属性设置-添加非固定排休
        function addUnFixedBreak() {
            unFixIndex++;
            $("#unfixAdd").append(
                "<div id='unfix" + unFixIndex + "'>" +
                "<div class='control-group'>" +
                "<h4>" + unFixIndex + "#</h4>" +
                "<label class= 'control-label'> 开始时间</label >" +
                "<div class='input-append date datetimepicker' id='datetimepicker'>" +
                "<input class='span12' type='text' id='unfix_start_time" + unFixIndex + "' name='unfix_start_time' data-format='yyyy-MM-dd hh:mm' placeholder='2000-01-01 00:00' />" +
                "<span class='add-on'>" +
                "<i data-date-icon='icon-calendar' data-time-icon='icon-time' class='icon-calendar'></i>" +
                "</span>" +
                "</div>" +
                "<div class='control-group'>" +
                "<label class='control-label'>结束时间</label>" +
                "<div class='input-append date datetimepicker' id='datetimepicker'>" +
                "<input class='span12' type='text' id='unfix_end_time" + unFixIndex + "' name='unfix_end_time' data-format='yyyy-MM-dd hh:mm' placeholder='2000-01-01 00:00' />" +
                "<span class='add-on'>" +
                "<i data-date-icon='icon-calendar' data-time-icon='icon-time' class='icon-calendar'></i>" +
                "</span>" +
                "</div>" +
                "</div>" +
                "<button class='btn btn-danger' onclick='UnFixDivDel(" + unFixIndex + ")'>删除</button>" +
                "<hr class= 'hr-top' style = 'margin-right:-14px' />" +
                "</div>" 
            );
        }
        //属性设置-删除非固定排休
        function UnFixDivDel(id) {
            $("#unfix" + id + "").remove();
        }
        //属性设置确认
        function settingConfirm() {
            var area_node_id = $('#area_node_id').val();
            var day_start_time = $('#day_start_time').val();
            var day_end_time = $('#day_end_time').val();
            var night_start_time = $('#night_start_time').val();
            var night_end_time = $('#night_end_time').val();

            var fix_start_timeList = document.getElementsByName("fix_start_time");
            var fix_end_timeList = document.getElementsByName("fix_end_time");
            var unfix_start_timeList = document.getElementsByName("unfix_start_time");
            var unfix_end_timeList = document.getElementsByName("unfix_end_time");

            var fix_start_time = new Array();
            var fix_end_time = new Array();
            var unfix_start_time = new Array();
            var unfix_end_time = new Array();

            for (var i = 0; i < fix_start_timeList.length; i++) {
                fix_start_time.push(fix_start_timeList[i].value);
                fix_end_time.push(fix_end_timeList[i].value);
            }
            var fixStartTime = fix_start_time.join(',');
            var fixEndTime = fix_end_time.join(',');
            
            
            for (var i = 0; i < unfix_start_timeList.length; i++) {
                unfix_start_time.push(unfix_start_timeList[i].value);
                unfix_end_time.push(unfix_end_timeList[i].value);
            }
            var unfixStartTime = unfix_start_time.join(',');
            var unfixEndTime = unfix_end_time.join(',');
            

            $.ajax({
                type: "POST",
                url: "/LevelsConfig/UpdateSetting",
                data: {
                    area_node_id: area_node_id,
                    day_start_time: day_start_time,
                    day_end_time: day_end_time,
                    night_start_time: night_start_time,
                    night_end_time: night_end_time,
                    fixStartTime: fixStartTime,
                    fixEndTime: fixEndTime,
                    unfixStartTime: unfixStartTime,
                    unfixEndTime: unfixEndTime
                },              
                success: function (msg) {
                    if (msg == "Success") {
                        toastr.success('属性配置成功!');
                        $('#mySetModal').modal('hide');
                        $('#group').bootstrapTable('refresh');
                    }
                    else {
                        toastr.error('属性配置失败!');

                    }
                }, error: function (msg) {
                    toastr.error('执行失败!');
                }
            });

        }
        //属性设置中三种属性切换
        function settingFunc(value) {
            //排班
            if (value == "排班") {
                document.getElementById('classContent').style.cssText = 'display:block';
                document.getElementById('fixRest').style.cssText = 'display:none';
                document.getElementById('unfixRest').style.cssText = 'display:none';
            }
            //固定排休
            else if (value == "固定排休") {
                document.getElementById('classContent').style.cssText = 'display:none';
                document.getElementById('fixRest').style.cssText = 'display:block';
                document.getElementById('unfixRest').style.cssText = 'display:none';

            }
            //非固定排休
            else {
                document.getElementById('classContent').style.cssText = 'display:none';
                document.getElementById('fixRest').style.cssText = 'display:none';
                document.getElementById('unfixRest').style.cssText = 'display:block';

            }

        }

        /**
         * 绑定设备
         * 
         * */
        //绑定设备-解除绑定
        function machineNodeActionFormatter(value, row, index) {
            var result = "";
            result += "<a id='deleteMachineNode' href='javascript:;' title='取消绑定' style='font-size:32px;'><span class='icon-trash'></span></a>";
            return result;
        }
        //绑定设备-解除绑定操作
        window.machineNodeOperateEvents = {
            //取消绑定
            "click #deleteMachineNode": function (e, value, row, index) {
                var id = row.id;
                var area_node_id = row.area_node_id;
                $.ajax({
                    type: "POST",
                    url: "/LevelsConfig/UpdateMachineNode",
                    data: {
                        id: id,
                        area_node_id:0
                    },
                    success: function (msg) {
                        if (msg == "Success") {
                            $('#machineList').bootstrapTable('refresh', { url: "/LevelsConfig/GetMachineNodeList?area_node_id=" + area_node_id + "" });
                        }
                        else {
                            toastr.error('执行失败!');
                        }
                    }, error: function (msg) {
                        toastr.error('执行失败!');
                    }
                });
            }
        }
        //绑定设备-点击确认按钮后操作
        function MachineNodeBind() {
            var area_node_id = $("#machine_area_node_id").val();
            
            var machineList = document.getElementById('machineBind').getElementsByTagName('option');
            var machine = new Array();
            for (var i = 0; i < machineList.length; i++) {
                if (machineList[i].selected) {
                    machine.push(machineList[i].value);
                }
            }
            var Machine = machine.join(',');

            $.ajax({
                type: "POST",
                url: "/LevelsConfig/UpdateMachineNode",
                data: {
                    id: 0,
                    area_node_id: area_node_id,
                    Machine: Machine
                },
                success: function (msg) {
                    if (msg == "Success") {
                        toastr.success('设备绑定成功!');
                        $('#machineList').bootstrapTable('refresh', { url: "/LevelsConfig/GetMachineNodeList?area_node_id=" + area_node_id + "" });
                    }
                    else {
                        toastr.error('执行失败!');
                    }
                }, error: function (msg) {
                    toastr.error('执行失败!');
                }
            });
        }
        //所有未绑定的设备
        function GetUnBindMachine() {
            $.ajax({
                url: '/LevelsConfig/GetUnBindMachine',
                type: "get",
                async: true,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#machineBind").append('<option  value=' + data[i].id + '>' + data[i].name_cn + '</option>'); 
                    }
                }
            });
        }
        /**
         * 设备级操作
         */
        //设备操作栏的格式化
        function machineActionFormatterA(value, row, index) {
            var result = "";
            result += "<a id='tagBind' title='Tag点绑定' style='font-size:32px;'><span class='icon-list'></span></a>";
           // result += "<a id='machineEdit' href='javascript:;' title='编辑' data-toggle='modal' data-target='#machineAddEditModal' style='font-size:32px;'><span class='icon-edit-sign'></span></a>";
           // result += "<a id='machineDelete' href='javascript:;' title='删除' data-toggle='modal' data-target='#myDelModal' style='font-size:32px;'><span class='icon-trash'></span></a>";
            return result;
        }
          function machineActionFormatters(value, row, index) {
            var result = "";
            //result += "<a id='tagBind' title='Tag点绑定' style='font-size:32px;'><span class='icon-list'></span></a>";
            result += "<a id='machineEdit' title='编辑' data-toggle='modal' data-target='#machineAddEditModal' style='font-size:32px;'><span class='icon-edit-sign'></span></a>";
            result += "<a id='machineDelete' title='删除' data-toggle='modal' data-target='#myDelModal' style='font-size:32px;'><span class='icon-trash'></span></a>";
            return result;
        }
        //Tag点绑定，设备编辑，设备删除
        window.machineOperateEvents = {
            //Tag点绑定
            "click #tagBind": function (e, value, row, index) {
                window.location.href = '/MachineBind/Index?machine_id=' + row.id + '&machine_name_cn=' + row.name_cn + '&machine_description='+row.description+'';
            },

            //设备编辑
            "click #machineEdit": function (e, value, row, index) {
                document.getElementById("idMachine").value = row.id;
                document.getElementById('machineAddEditLabel').innerText = '编辑';
                document.getElementById("cnMachine").value = row.name_cn;
                document.getElementById("enMachine").value = row.name_en;
                document.getElementById("twMachine").value = row.name_tw;
                document.getElementById("descriptionMachine").value = row.description;

                $("#machineFatherAdd").val('' + row.area_layer_id + '').select2();
                $("#machineFatherContentAdd").empty();
                GetFatherName("machineFatherContentAdd", "area_node", row.area_layer_id);
                $("#machineFatherContentAdd").val('' + row.area_node_id + '').select2();

            },
            //设备删除
            "click #machineDelete": function (e, value, row, index) {
                document.getElementById('deleteId').value = row.id;
                document.getElementById('deleteFlag').value = "machine";
            }
        }
        //获取所有设备
        function getMachineListForSearch() {
            $.ajax({
                type: "get",
                url: '/LevelsConfig/GetMachineListForSearch',
                success: function (data) {
                    $("#machineName").empty();
                    $("#machineName").append('<option value=-1>-请选择-</option>');
                    for (var i = 0; i < data.length; i++) {
                        $("#machineName").append('<option  value=' + data[i].name_cn + '>' + data[i].name_cn + '</option>');
                    }
                }
            });
        }
        //设备查询
        function machineSearch() {
            //父级名称
            var area_layer_id = $("#machineFatherSearch").find("option:selected").val();
            //父级内容
            var area_node_id = $("#machineFatherContentSearch").find("option:selected").val();
            //设备名称
            var machine_name = $('#machineName').find("option:selected").val();
            //筛选
            if (area_layer_id == -1) {
                //area_layer_id为-1时，area_node_id必为-1
                if (machine_name == -1) {
                    $('#machineAll').bootstrapTable('filterBy', {});
                }
                else { 
                    $('#machineAll').bootstrapTable('filterBy', {
                        name_cn: machine_name
                    });
                }
            }
            else {
                if (area_node_id == -1) {
                    if (machine_name == -1) {
                        $('#machineAll').bootstrapTable('filterBy', {
                            area_layer_id: parseInt(area_layer_id)
                        });
                    }
                    else {
                        $('#machineAll').bootstrapTable('filterBy', {
                            area_layer_id: parseInt(area_layer_id),
                            name_cn: machine_name
                        }, { 'filterAlgorithm': 'and' });
                    }
                }
                else {
                    if (machine_name == -1) {
                        $('#machineAll').bootstrapTable('filterBy', {
                            area_layer_id: parseInt(area_layer_id),
                            area_node_id: parseInt(area_node_id)
                        }, { 'filterAlgorithm': 'and' });
                    }
                    else {
                        $('#machineAll').bootstrapTable('filterBy', {
                            area_layer_id: parseInt(area_layer_id),
                            area_node_id: parseInt(area_node_id),
                            name_cn: machine_name
                        }, { 'filterAlgorithm': 'and' });
                    }
                }
            }
        }
        //当切换到设备页后，自动刷新设备的table
        function machineRefresh() {
            $('#machineAll').bootstrapTable('refresh');
            //父级名称下拉框
            GetFatherName("machineFatherSearch", "area_layer", 0);
            getMachineListForSearch();
        }
        //获取父级名称 area_layer
        function GetFatherName(machineFatherName, urlPara, area_layer_id) {
            $.ajax({
                type: "POST",
                url: '/LevelsConfig/GetLevel',
                data: {
                    urlPara: urlPara,
                    area_layer_id: area_layer_id
                },
                success: function (data) {
                    $("#machineFatherSearch").empty();
                    $("#machineFatherSearch").append('<option  value=-1>-请选择-</option>');
                    $("#machineFatherContentSearch").empty();
                    $("#machineFatherContentSearch").append('<option  value=-1>-请选择-</option>');
                    if (machineFatherName == 'machineFatherAdd') {
                        $("#" + machineFatherName + "").append('<option  value=-1>-请选择-</option>');
                    }
                    for (var i = 0; i < data.length; i++) {
                        $("#" + machineFatherName+"").append('<option  value=' + data[i].id + '>' + data[i].name_cn + '</option>');
                    }
                }
            });
        }
        //父级名称切换后父级内容变化(获取父级名称下的内容 area_node)
        function GetLevelNodeFunc(value, machineFatherContent) {
            $("#" + machineFatherContent + "").empty();
            $("#" + machineFatherContent + "").append('<option  value=-1>-请选择-</option>');
            $.ajax({
                url: '/LevelsConfig/GetGroup',
                type: "Post",
                data: {
                    area_layer_id: value,
                },
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#" + machineFatherContent + "").append('<option value=' + data[i].id + '>' + data[i].name_cn + '</option>');
                    }
                }
            });
        }
        //设备新增
        function machineAdd() {
            document.getElementById('machineAddEditLabel').innerText = '新增';
            document.getElementById("idMachine").value = 0;
            document.getElementById("enMachine").value = "";
            document.getElementById("twMachine").value = "";
            document.getElementById("cnMachine").value = "";
            document.getElementById("descriptionMachine").value = "";
            //获取选项
            $('#machineFatherAdd').empty();
            GetFatherName("machineFatherAdd", "area_layer", 0);
            $('#machineFatherContentAdd').empty();
            $("#machineFatherContentAdd").append('<option  value=-1>-请选择-</option>');
        }
        //设备新增修改动作的提交
        function machineConfirm() {
            var id = $('#idMachine').val();
            var area_layer_id = $('#machineFatherAdd').find("option:selected").val();
            var area_node_id = $('#machineFatherContentAdd').find("option:selected").val();
            var name_cn = $('#cnMachine').val();
            var name_tw = $('#twMachine').val();
            var name_en = $('#enMachine').val();
            var description = $('#descriptionMachine').val();
            if (name_cn == "" || name_en == "" || name_tw == "") {
                toastr.error("设备名称不能为空");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/LevelsConfig/UpdateMachine",
                    data: {
                        id: id,
                        area_layer_id: area_layer_id,
                        area_node_id: area_node_id,
                        name_en: name_en,
                        name_cn: name_cn,
                        name_tw: name_tw,
                        description: description
                    },
                    success: function (msg) {
                        if (msg == "Success") {
                            if (parseInt(id) > 0) {
                                toastr.success('修改设备成功!');
                            } else {
                                toastr.success('新增设备成功!');
                            }
                            $('#machineAddEditModal').modal('hide');
                            $('#machineAll').bootstrapTable('refresh');

                        } else {
                            toastr.error('执行失败!');
                        }
                    }, error: function (msg) {
                        toastr.error('执行失败!');
                    }
                });
            }

            

        }

        //中间层级切换
        function changeLevel(area_layer_upper_id, area_layer_id) {
            //给新增修改模态框中的upper_id和area_layer_id赋值
            document.getElementById("modal_area_layer_id").value = area_layer_id;
            //群组下的层级增加层级内容下拉框
            document.getElementById("modalFatherSelect").style.display = "block";

            document.getElementById("modalUTC").style.display = "none";
            
            if (area_layer_upper_id == 1) {
                document.getElementById("fatherLevelName").innerHTML = "群组";
            }
            else {
                document.getElementById("fatherLevelName").innerHTML = document.getElementById("" + area_layer_upper_id + "").innerHTML;
            }
            //修改下拉框中的值
            $("#modal_upper_id").empty();
            $("#modal_upper_id").append('<option  value=-1>-请选择-</option>');
            $.ajax({
                url: '/LevelsConfig/GetGroup',
                type: "Post",
                data: {
                    area_layer_id: area_layer_upper_id,
                },
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#modal_upper_id").append('<option value=' + data[i].id + '>' + data[i].name_cn + '</option>');
                    }
                }
            });

            //修改模态框中标签名称，使之与层级名称一致   
            document.getElementById("enLabel").innerHTML = document.getElementById("" + area_layer_id+"").innerHTML+"（英文）";
            document.getElementById("cnLabel").innerHTML = document.getElementById("" + area_layer_id + "").innerHTML + "（简中）";
            document.getElementById("twLabel").innerHTML = document.getElementById("" + area_layer_id + "").innerHTML + "（繁体）";
            document.getElementById("descriptionLabel").innerHTML = document.getElementById("" + area_layer_id + "").innerHTML + "（描述）";

            document.getElementById("editLayer").value = area_layer_id;
            document.getElementById("deleteLayer").value = area_layer_id;

            $('#levelTable').bootstrapTable('filterBy', {});
            //中间层级切换时刷新表格
            $('#levelTable').bootstrapTable('refresh', { url: "/LevelsConfig/GetGroup?area_layer_id=" + area_layer_id + "" });
            //每次切换后先将下拉框数据清空然后再加载
            $("#levelSelect").empty();   
            //查询数据
            $.ajax({
                url: '/LevelsConfig/GetGroup',
                type: "Post",
                data: {
                    area_layer_id: area_layer_upper_id,
                },
                success: function (data) {
                    $("#levelSelect").append('<option  value=-1>-请选择-</option>');
                    for (var i = 0; i < data.length; i++) {
                        $("#levelSelect").append('<option value=' + data[i].id + '>' + data[i].name_cn + '</option>');
                    }
                }
            });

        }
        //中间层级查询
        function levelSearch() {
            //名称
            var id = $("#levelSelect").find("option:selected").val();
            //筛选
            if (id == -1) {
                $('#levelTable').bootstrapTable('filterBy', {});
            } else {
                
                $('#levelTable').bootstrapTable('filterBy', {
                    upper_id: parseInt(id)
                });
            }
        }

         
        //删除（共用）
        function Delete() {
            var id = $('#deleteId').val();
            var flag = $('#deleteFlag').val();
            $.ajax({
                type: "POST",
                url: "/LevelsConfig/Delete",
                data: {
                    id: id,
                    flag: flag
                },
                success: function (msg) {
                    if (msg == "Success") {
                        toastr.success('删除数据成功!');
                        $('#myDelModal').modal('hide');
                        $('#group').bootstrapTable('refresh');
                        $('#levelTable').bootstrapTable('refresh');
                        $('#machineAll').bootstrapTable('refresh');
                        if (flag == "area_layer") {
                            window.location.href = '/LevelsConfig/Index'

                        }
                    } else {
                        toastr.error('执行失败!');
                    }
                }, error: function (msg) {
                    toastr.error('执行失败!');
                }
            });
        }

    </script>
</head>
<body>
    <div class='row-fluid'>
        <!--页面抬头-->
        <div class="span12">
            <div class='page-header'>
                <div class='pull-left' style="font-size:18px">
                    <a  style="color:#008FD7;font-weight:600"><span>公共配置</span></a>
                    <i class='icon-angle-right'></i>
                    <span>层级配置</span>
                </div>
            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12 box' style='margin-bottom: 0'>
            <div class='box-content'>
                <div class='tabbable' id="tabAll">
                    <ul class='nav nav-tabs'>
                        <!--群组-->
                        <li class='@if (ViewBag.tab==1) {<text></text> }else{<text>active</text>}'>
                            <a data-toggle='tab' href='#tab1' onclick="changeGroup()">
                                <i class='icon-home'></i>
                                群组
                            </a>
                        </li>
                        <!--各层级-->
                        @if (ViewBag.Layer.Count > 0)
                        {
                            for (var i=1;i< ViewBag.Layer.Count; i++)
                            {
                                <li>
                                    <a data-toggle="tab" href="#tab3" onclick="changeLevel(@ViewBag.Layer[i-1].id,@ViewBag.Layer[i].id)">
                                        <span id="@ViewBag.Layer[i].id">@ViewBag.Layer[i].name_cn</span>
                                        <i class="icon-chevron-right"></i>
                                    </a>
                                </li>
                            }  
                        }

                        <!--设备-->
                        <li class='@if (ViewBag.tab==1) {<text>active</text> }'>

                            <a data-toggle='tab' href='#tab2' onclick="machineRefresh()">

                                <i class='icon-desktop'></i>
                                设备
                            </a>
                        </li>
                        <!--添加层级-->
                        <li>
                            <a class="btn btn-primary" data-toggle='modal' data-target='#myAddLevelModal' onclick="addNewLevel()">
                                <i class='icon-plus'></i>
                                添加层级
                            </a>
                        </li>
                    </ul>
                    <div class='tab-content'>
                        <!--群组-->
                        <div class='@if (ViewBag.tab==1) {<text>tab-pane</text> }else{<text>tab-pane active</text> }' id='tab1'>
                            <div style="padding:10px 0px">
                                <div class="form-group">
                                    <button class="btn btn-primary" data-toggle='modal' data-target='#groupAddEditModal' onclick="AddGroup()"><span class="icon-plus"> 新增</span></button>
                                </div>
                            </div>
                            <table class="table" id="group"></table>
                        </div>
                        <!--各层级-->
                        <div class='tab-pane' id='tab3'>
                            <div>
                                <div class="pull-left">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <label class="control-label">名称</label>
                                        </div>
                                        <div class="form-group">
                                            <select class="select2" id="levelSelect"></select>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary" onclick="levelSearch()"><span class="icon-search"> 查询</span></button>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary" data-toggle='modal' data-target='#groupAddEditModal' onclick="AddGroup()"><span class="icon-plus"> 新增</span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <button class="btn btn-primary" data-toggle='modal' data-target='#myAddLevelModal' onclick="EditLevel()"><span class="icon-edit-sign"> 修改层级</span></button>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary" data-toggle='modal' data-target='#myDelModal' onclick="DeleteLevel()"><span class="icon-trash"> 删除层级</span></button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <table class="table" id="levelTable"></table>
                        </div>
                        <!--设备-->
                        <div class='@if (ViewBag.tab==1) {<text>tab-pane active</text> }else{<text>tab-pane</text> }' id='tab2' >
                            <div class="form-inline">
                                <div class="form-group">
                                    <label class="control-label">父级</label>
                                </div>
                                <div class="form-group">
                                    <select class="select2" id="machineFatherSearch" onchange="GetLevelNodeFunc(this.options[this.options.selectedIndex].value,'machineFatherContentSearch')">
                                        <option value="-1">-请选择-</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">父级内容</label>
                                </div>
                                <div class="form-group">
                                    <select class="select2" id="machineFatherContentSearch">
                                        <option value="-1">-请选择-</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">设备</label>
                                </div>
                                <div class="form-group">
                                    <select class="select2" id="machineName">
                                        <option value="-1">-请选择-</option>
                                    </select>
                                </div>
                                @*<div class="form-group">
                                    <label class="control-label" for="name">设备</label>
                                    <input type="text" class='span9' id="machineName" />
                                </div>*@
                                <div class="form-group">
                                    <button class="btn btn-primary" onclick="machineSearch()"><span class="icon-search"> 查询</span></button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" onclick="machineAdd()" data-toggle='modal' data-target='#machineAddEditModal'><span class="icon-plus"> 新增</span></button>
                                </div>
                            </div>
                            <table class="table" id="machineAll"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <!-- 新增层级模态框（Modal） -->
        <div class="modal fade" id="myAddLevelModal" style="display:none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myAddEditLabel">
                            添加层级
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="editLayer" />                      
                        <div class="control-group">
                            <label class="control-label">层级名称（简中）</label>
                            <input class="span12" type="text" id="cnLevel" />
                        </div>
                        <div class="control-group">
                            <label class="control-label">层级名称（繁中）</label>
                            <input class="span12" type="text" id="twLevel" />
                        </div>
                        <div class="control-group">
                            <label class="control-label">层级名称（英）</label>
                            <input class="span12" type="text" id="enLevel" />
                            <input class="span12" type="hidden" id="LevelFlag" value="@ViewBag.LevelFlag" />
                        </div>
                        <div class="control-group">
                            <label class="control-label">描述</label>
                            <input class="span12" type="text" id="descriptionLevel" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary" onclick="addLevel()">
                            确认
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 群组新增编辑模态框（Modal） -->
        <div class="modal fade" id="groupAddEditModal" style="display:none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="groupAddEditLabel">
                            编辑
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" class="span12" id="idGroup" name="idGroup" />
                        <input type="hidden" class="span12" id="modal_area_layer_id" value="1" />

                        <div id="modalFatherSelect" style="display: none;padding-bottom: 10px;">
                            <div class="form-group">
                                <label class="control-label" id="fatherLevelName"></label>
                            </div>
                            <div class="form-group">
                                <select class="select2" id="modal_upper_id" style="width:100%">
                                </select>
                            </div>
                        </div>
                        <div id="modalUTC" style="display: block;padding-bottom: 10px;">
                            <div class="control-group">
                                <label class="control-label">时区</label>
                            </div>
                            <div class="control-group">
                                <select class="select2" id="levelUTC" style="width:100%">
                                    <option value="-11">UTC-11</option>
                                    <option value="-10">UTC-10</option>
                                    <option value="-9">UTC-9</option>
                                    <option value="-8">UTC-8</option>
                                    <option value="-7">UTC-7</option>
                                    <option value="-6">UTC-6</option>
                                    <option value="-5">UTC-5</option>
                                    <option value="-4">UTC-4</option>
                                    <option value="-3">UTC-3</option>
                                    <option value="-2">UTC-2</option>
                                    <option value="-1">UTC-1</option>
                                    <option value="0">UTC+0</option>
                                    <option value="1">UTC+1</option>
                                    <option value="2">UTC+2</option>
                                    <option value="3">UTC+3</option>
                                    <option value="4">UTC+4</option>
                                    <option value="5">UTC+5</option>
                                    <option value="6">UTC+6</option>
                                    <option value="7">UTC+7</option>
                                    <option value="8" selected>UTC+8</option>
                                    <option value="9">UTC+9</option>
                                    <option value="10">UTC+10</option>
                                    <option value="11">UTC+11</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" id="enLabel">群组（英）</label>
                            <input class="span12" type="text" id="enGroup" />
                        </div>
                        <div class="control-group">
                            <label class="control-label" id="cnLabel">群组（简中）</label>
                            <input class="span12" type="text" id="cnGroup" />
                        </div>
                        <div class="control-group">
                            <label class="control-label" id="twLabel">群组（繁中）</label>
                            <input class="span12" type="text" id="twGroup" />
                        </div>
                        <div class="control-group">
                            <label class="control-label" id="descriptionLabel">群组（描述）</label>
                            <input class="span12" type="text" id="descriptionGroup" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary" onclick="groupConfirm()">
                            确认
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 属性设置模态框（Modal） -->
        <div class="modal fade" id="mySetModal" style="display:none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="mySetLabel">
                            属性设置
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input class='span12' type="hidden" id="area_node_id" />
                        <div class="control-group">
                            <label class="control-label">属性</label>
                        </div>
                        <div class="control-group">
                            <select class="select2 span12" id="settingSelect" onchange="settingFunc(this.options[this.options.selectedIndex].value)" style="width:100%">
                                <option value="排班">排班</option>
                                <option value="固定排休">固定排休</option>
                                <option value="非固定排休">非固定排休</option>
                            </select>
                        </div>
                        <hr class="hr-top" style="margin-right:-14px" />
                        <!-- 默认呈现的是班次的配置 -->
                        <div id="classContent" style="display:block">
                            <div class="control-group">
                                <h4>白班</h4>
                            </div>
                            <hr class="hr-top" style="margin-right:-14px" />
                            <div class="control-group">
                                <label class="control-label">开始时间</label>
                                <div class='input-append date timepicker'> 
                                    <input class='span12' type="text" id="day_start_time" placeholder='00:00' disabled />
                                    <span class='add-on'>
                                        <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-time"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">结束时间</label>
                                <div class='input-append date timepicker'>
                                    <input class='span12' type="text" id="day_end_time" placeholder='00:00' disabled/>
                                    <span class='add-on'>
                                        <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-time"></i>
                                    </span>
                                </div>
                            </div>
                            <hr class="hr-top" style="margin-right:-14px" />
                            <div class="control-group">
                                <h4>夜班</h4>
                            </div>
                            <hr class="hr-top" style="margin-right:-14px" />
                            <div class="control-group">
                                <label class="control-label">开始时间</label>
                                <div class='input-append date timepicker' id='timepicker'>
                                    <input class='span12' type="text" id="night_start_time" placeholder='00:00' disabled />
                                    <span class='add-on'>
                                        <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-time"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">结束时间</label>
                                <div class='input-append date timepicker' id='timepicker'>
                                    <input class='span12' type="text" id="night_end_time" placeholder='00:00' disabled />
                                    <span class='add-on'>
                                        <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-time"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div id="fixRest" style="display:none">
                            <div class="control-group">
                                <h4>1#</h4>
                            </div>
                            <hr class="hr-top" style="margin-right:-14px" />
                            <div class="control-group">
                                <label class="control-label">开始时间</label>
                                <div class='input-append date timepicker' id='timepicker'>
                                    <input class='span12' type="text" id="fix_start_time1" name="fix_start_time" placeholder='00:00' disabled />
                                    <span class='add-on'>
                                        <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-time"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">结束时间</label>
                                <div class='input-append date timepicker' id='timepicker'>
                                    <input class='span12' type="text" id="fix_end_time1" name="fix_end_time" placeholder='00:00' disabled />
                                    <span class='add-on'>
                                        <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-time"></i>
                                    </span>
                                </div>
                            </div>
                            <hr class="hr-top" style="margin-right:-14px" />
                            <div id="fixAdd">
                            </div>
                            <button type="button" class="btn btn-primary" onclick="addFixedBreak()">
                                添加排休
                            </button>
                        </div>

                        <div id="unfixRest" style="display:none">
                            <div class="control-group">
                                <h4>1#</h4>
                            </div>
                            <hr class="hr-top" style="margin-right:-14px" />
                            <div class="control-group">
                                <label class="control-label">开始时间</label>
                                <div class='input-append date datetimepicker' id='datetimepicker'>
                                    <input class='span12' type="text" id="unfix_start_time1" name="unfix_start_time" placeholder='2000-01-01 00:00' />
                                    <span class='add-on'>
                                        <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">结束时间</label>
                                <div class='input-append date datetimepicker' id='datetimepicker'>
                                    <input class='span12' type="text" id="unfix_end_time1" name="unfix_end_time" placeholder='2000-01-01 00:00' />
                                    <span class='add-on'>
                                        <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <hr class="hr-top" style="margin-right:-14px" />
                            <div id="unfixAdd">
                            </div>
                            <button type="button" class="btn btn-primary" onclick="addUnFixedBreak()">
                                添加排休
                            </button>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary" onclick="settingConfirm()">
                            确认
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 设备绑定模态框（Modal） -->
        <div class="modal fade" id="myBindModal" style="display:none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myBindLabel">
                            设备绑定
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input class='span12' type="hidden" id="machine_area_node_id" />
                        <div class="control-group">
                            <select class="select2 span12" id="machineBind" multiple="" style="width:100%"></select>
                        </div>
                        <hr class="hr-top" style="margin-right:-14px" />
                        <div class="control-group">
                            <h4>已绑定的设备</h4>
                        </div>
                        <div class="control-group">
                            <table class="table" id="machineList"></table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary" onclick="MachineNodeBind()">
                            确认
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 设备新增编辑模态框（Modal） -->
        <div class="modal fade" id="machineAddEditModal" style="display:none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="machineAddEditLabel">
                            编辑
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" class="span12" id="idMachine" name="idMachine" />
                        <div class="control-group">
                            <label class="control-label">父级名称</label>
                        </div>
                        <div class="control-group">
                            <select class="select2 span12" id="machineFatherAdd" onchange="GetLevelNodeFunc(this.options[this.options.selectedIndex].value,'machineFatherContentAdd')" style="width:100%">
                                
                            </select>
                        </div>
                        <div class="control-group">
                            <label class="control-label">父级内容</label>
                        </div>
                        <div class="control-group">
                            <select class="select2 span12" id="machineFatherContentAdd" style="width:100%">
                                <option value="-1">-请选择-</option>
                            </select>
                        </div>
                        <div class="control-group">
                            <label class="control-label">设备（简中）</label>
                            <input class="span12" type="text" id="cnMachine" />
                        </div>
                        <div class="control-group">
                            <label class="control-label">设备（繁中）</label>
                            <input class="span12" type="text" id="twMachine" />
                        </div>
                        <div class="control-group">
                            <label class="control-label">设备（英）</label>
                            <input class="span12" type="text" id="enMachine" />
                        </div>
                        <div class="control-group">
                            <label class="control-label">描述</label>
                            <input class="span12" type="text" id="descriptionMachine" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary" onclick="machineConfirm()">
                            确认
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 公用删除模态框（Modal） -->
        <div class="modal fade" id="myDelModal" style="display:none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myDelLabel">
                            删除
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div id="deletInfo">是否确认删除该记录？</div>
                        <input type="hidden" id="deleteLayer" />
                        <input type="hidden" id="deleteId" />
                        <input type="hidden" id="deleteFlag" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            否
                        </button>
                        <button type="button" class="btn btn-primary" onclick="Delete()">
                            是
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

    </div>
</body>