<!DOCTYPE html>
<html>
<head>
    <!-- / jquery -->
    <script src='~/assets/javascripts/jquery/jquery.min.js' type='text/javascript'></script>
    <script src="~/grafanaUIframe/script/lib/bootstrap.min.js"></script>
    <script type='text/javascript'>
        getOption();
        $(document).ready(function () {
            
            $("#Virtual_line").select2();
            $.fn.modal.Constructor.prototype.enforceFocus = function () { }
        });
        //JS操作cookies方法!
        //写cookies
        function setCookie(name, value) {
            var Days = 365;
            var exp = new Date();
            exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
            document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString() + ";path=/";
        }
        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=")
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1
                    c_end = document.cookie.indexOf(";", c_start)
                    if (c_end == -1) c_end = document.cookie.length
                    return unescape(document.cookie.substring(c_start, c_end))
                }
            }
            return "";
        }
        ////删除cookies
        //function delCookie(name) {
        //    var exp = new Date();
        //    exp.setTime(exp.getTime() - 1);
        //    var cval = getCookie(name);
        //    if (cval != null)
        //        document.cookie = name + "=" + cval + ";expires=" + exp.toGMTString();
        //}
       
        $(function () {
            $('.navigation ul li:nth-of-type(2) ul').attr("class", "nav nav-stacked in");
            $('.navigation ul li:nth-of-type(2) ul li:nth-of-type(4) ul').attr("class", "nav nav-stacked");
            $('.navigation ul li:nth-of-type(2) ul li:nth-of-type(4)').addClass('active');
            $('.navigation ul li:nth-of-type(2) ul li:nth-of-type(4) ul li:nth-of-type(4)').removeClass('active');

            var vValue = getCookie('machine');
            $("#machine").attr('value', vValue);
            $("#machine").select2();
            var name = $("#machine").find("option:selected").text();
            $('#table').bootstrapTable({
                //url:'/QualityCall/getIndex?machinename='+name,
                method: 'get',
                theadClasses: "thead-blue",
                striped: true,  //表格显示条纹，默认为false
                pagination: true,
                singleSelect: true,
                showColumns: false,
                sidePagination: "client",//分页方式：client客户端(前台)分页，server服务端（后台）分页（*）
                pageNumber: 1,//初始化加载第一页，默认第一页
                pageSize: 12,//每页的记录行数（*）
                undefinedText: '---', //当数据为 undefined 时显示的字符
                paginationDetailHAlign: 'left',
                toolbarAlign: 'right',
                columns: [{
                    field: 'no',
                    title: '序号',
                    formatter: function (value, row, index) {
                        var options = $('#table').bootstrapTable('getOptions');
                        return index + 1;
                    }
                }, {
                    field: 'responsible_name',
                    title: '责任人'
                }, {
                    field: 'start_time',
                    title: '发生时间'
                }, {
                    field: 'arrival_time',
                    title: '签到时间'
                },{
                    field: 'release_time',
                    title: '解除时间'
                }]
            });
        });
        //页面加载时，获取所有设备信息
        function getOption() {
            $.ajax({
                type: "get",
                url: '/QualityCall/GetMachine',
                async: true,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#machine").append('<option  value=' + data[i].id + '>' + data[i].name_cn + '</option>');
                    }
                }
            });
        }
        //页面加载时候，根据设备id,查当前可执行的工单数据，返回页面显示
        $(function () {
            var vValue = getCookie('machine');
             $("#machine").attr('value', vValue);
            $("#machine").select2();
            var name = $("#machine").find("option:selected").text();
            $('#table').bootstrapTable('refresh', { url: "/QualityCall/getIndex?machinename=" + name});
              $.ajax({
                type: "get",
                url: '/QualityCall/getIndex?machinename=' + name,
                async: true,
                success: function (data) {
                    setView(data);
                }
            });
            ///把设备id保存cookie
            //$("#machine").select2();
            $("#machine").on("select2:select", function () {
                var machine = $(this).val();
                setCookie('machine', machine);
                var name=$("#machine").find("option:selected").text();
                $('#table').bootstrapTable('refresh', { url: "/QualityCall/getIndex?machinename=" + name});
                $.ajax({
                type: "get",
                url: '/QualityCall/getIndex?machinename=' + name,
                async: true,
                success: function (data) {
                    setView(data);
                }
            });
            });
            function setView(data) {
                if (data.length == 0) {//error_log没有数据，呼叫按钮亮起，其他隐藏
                    $("#hj").attr("style", "display:block;");
                    $("#qd").attr("style", "display:none;");
                    $("#jc").attr("style", "display:none;");
                }
                else {//error_log 有数据，呼叫隐藏，签到亮起，解除亮起
                    $("#hj").attr("style", "display:none;");
                    $("#qd").attr("style", "display:block;");
                    $("#jc").attr("style", "display:block;");
                }
            }
        });
        //获取人员工号
        //function getOptionPerson() {
        //    $.ajax({
        //        type: "get",
        //        url: '/QualityCall/GetPerson',
        //        async: true,
        //        success: function (data) {
        //            for (var i = 0; i < data.length; i++) {
        //                $("#personnum").append('<option  value=' + data[i].id + '>' + data[i].id_num + '</option>');
        //            }
        //        }
        //    });
        //}
        //根据设备id  查找  无数据时，点呼叫按钮
        function call() {
            //呼叫时候 ，需要传数据设备id，以及type类型 0:品质异常 1:设备异常 2:物料呼叫
             $.ajax({
                    type: "get",
                    url: '/QualityCall/Getcall?type=' + 0+"&machine_id="+getCookie('machine'),
                    async: true,
                    success: function (data) {
                        $("#hj").attr("style", "display:none;");
                        $("#qd").attr("style", "display:block;");
                        var name = $("#machine").find("option:selected").text();
                        $('#table').bootstrapTable('refresh', { url: "/QualityCall/GetIndex?machinename=" + name});
                    }
                });

        }
        //签到
        function begin() {
             $('#machineModal').modal('show');
        }
        //确认签到
        function confirm() {
            //签到传值 type 0:品质异常 1:设备异常   machine_id  log_id  person_id
            var number = $("#number").val();
            var data = $('#table').bootstrapTable("getData");
            var log_id= data[0].id;
             $.ajax({
                 type: "get",
                 url: '/QualityCall/GetQd?type=' + 0 + "&machine_id=" + getCookie('machine') + "&number=" + number+"&log_id="+log_id,
                    async: true,
                    success: function (data) {
                        $("#hj").attr("style", "display:none;");
                        $("#qd").attr("style", "display:none;");
                        $("#jc").attr("style", "display:block;");
                        var name = $("#machine").find("option:selected").text();
                        $('#table').bootstrapTable('refresh', { url: "/QualityCall/getIndexqd?machinename=" + name });
                         $('#machineModal').modal('hide');
                    }
                });
        }
        //解除
        function end() {
             $('#countModal').modal('show');
        }
          //确认解除
        function confirmcount() {
            //签到传值 type 0:品质异常 1:设备异常   machine_id  log_id  count
           // var person_id = $("#personnum").val();
            var data = $('#table').bootstrapTable("getData");
            var log_id= data[0].id;
            var count = $("#count").val();
             $.ajax({
                 type: "get",
                 url: '/QualityCall/GetJc?type=' + 0 + "&machine_id=" + getCookie('machine') + "&count=" + count+"&log_id="+log_id,
                    async: true,
                    success: function (data) {
                        var name = $("#machine").find("option:selected").text();
                        $('#table').bootstrapTable('refresh', { url: "/QualityCall/getIndex?machinename=" + name });
                        $('#countModal').modal('hide');
                        
                    }
                });
        }

    </script>
</head>
<body>
    <div class='row-fluid'>
        <div class="span12">
            <div class='page-header'>
                <div class='pull-left' style="font-size:18px">
                    <a href="#" style="color:#008FD7;font-weight:600"><span>现场客户端</span></a>
                    <i class='icon-angle-right'></i>
                    <span>品质呼叫</span>
                </div>


            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12 box bordered-box'>
            <div class="box-content box-padding">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="name">设备</label>
                    </div>
                    <div class="form-group">
                        <select class="select2" id="machine">
                            <option value="0">请选择</option>
                        </select>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12 box bordered-box'>
            <div class="box-content box-padding">
                <div class='tabbable' id="tabAll">
                    <ul class='nav nav-tabs'>
                        <!--群组-->
                        <li class='active'>
                            <a data-toggle='tab' href='#tab1'>
                                <i class='icon-home'></i>
                                品质呼叫
                            </a>
                        </li>
                    </ul>
                    <div class="form-inline" style="float:left">
                        <div class="form-group">

                            <button id="hj" type="submit" class="btn btn-primary" onclick="call()"> 呼叫</button>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group">
                            <button id="qd" type="submit" class="btn btn-primary" onclick="begin()">签到</button>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group">
                            <button id="jc" class="btn btn-primary" onclick="end()" data-toggle='modal'>解除</button>
                        </div>
                    </div>
                    <table class="table" id="table"></table>
                </div>
            </div>
            @*签到人员信息*@
            <div class="modal fade" id="machineModal" style="display:none">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                签到人员信息
                            </h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" class="span12" id="id" name="id" />
                            <div class="control-group">
                                <label class="control-label">人员工号</label>
                                <input class="span12" type="text" id="number" name="number" />
                                @*<select class="select2 span12" id="personnum" style="width:100%">
                                    <option value="0">请选择</option>
                                </select>*@
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" onclick="confirm()" class="btn btn-primary">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            @*不良数量信息信息*@
            <div class="modal fade" id="countModal" style="display:none">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                不良数量
                            </h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" class="span12" id="id" name="id" />
                            <div class="control-group">
                                    <label class="control-label">不良数量</label>
                                    <input class="span12" type="text" id="count" name="count" />
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" onclick="confirmcount()" class="btn btn-primary">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>
</body>
</html>