@{
    @model Model.wo_config
}
<!DOCTYPE html>
<html>
<head>
    <!-- / jquery -->
    <script src='~/assets/javascripts/jquery/jquery.min.js' type='text/javascript'></script>
    <script type='text/javascript'>
        getOption();
        getOptionWO();
        $(document).ready(function () {
            $("#lineidSelect").select2();
            $.fn.modal.Constructor.prototype.enforceFocus = function () { }
        });

        $(function () {
            $('.navigation ul li:nth-of-type(3) ul').attr("class", "nav nav-stacked in");
            $('.navigation ul li:nth-of-type(3) ul li:nth-of-type(2)').addClass('active');
            toastr.options = {
                "closeButton": true,//显示关闭按钮
                "positionClass": "toast-bottom-right",//弹出的位置
                "showDuration": "300",//显示的时间
                "hideDuration": "1000",//消失的时间
                "timeOut": "5000",//停留的时间
                "extendedTimeOut": "1000",//控制时间
                "showEasing": "swing",//显示时的动画缓冲方式
                "hideEasing": "linear",//消失时的动画缓冲方式
                "showMethod": "fadeIn",//显示时的动画方式
                "hideMethod": "fadeOut"//消失时的动画方式
            };
              function getLocalDateTime(date)
            {
                var d = new Date(date);
                var year = d.getFullYear();
                var month = d.getMonth() + 1;
                var date = d.getDate();
                var hours = d.getHours();
                var min = d.getMinutes();
                var seconds = d.getSeconds();
                var localDate = year + "-" + month + "-" + date + " " + hours + ":" + min + ":" + seconds;
                return localDate;
            }
            $('#table').bootstrapTable({
                url: '/Order/GetData',
                method: 'get',
                theadClasses: "thead-blue",
                pagination: true,
                sidePagination: "client",//分页方式：client客户端(前台)分页，server服务端（后台）分页（*）
                pageNumber: 1,//初始化加载第一页，默认第一页
                pageSize: 10,//每页的记录行数（*）
                pageList: [10, 25, 50, 100],//可供选择的每页的行数（*）
                columns: [{
                    field: 'no',
                    title: '序号',
                    formatter: function (value, row, index) {
                        var options = $('#table').bootstrapTable('getOptions');
                        return index + 1;
                    }
                }, {
                    field: 'work_order',
                    title: '工单'
                }, {
                    field: 'part_num',
                    title: '机种'
                }, {
                    field: 'standard_num',
                    title: '标准数量'
                    }
                    //, {
                    //field: 'virtual_Line.name_en',
                    //title: '虚拟线'

                    //}
                    , {
                    field: 'shift',
                    title: '班次',
                    formatter: function (value, row, index) {
                        var shift = row.shift;
                        if (shift == 0) {
                            return "--"
                        } else if (shift == 1) {
                            return "白班";
                        } else {
                            return "夜班";
                        }

                    },
                }, {
                    field: 'create_time',
                        title: '日期',
                     formatter: function (value, row, index)
                     {
                         if (value != null) {
                            var start_time = row.create_time.toString();
                          if (start_time == "0001-01-01T08:00:00+08:00") {
                              return "--"
                          }  else {
                              return getLocalDateTime(row.create_time);
                          }
                         }   
                 },
                }, {
                    field: 'auto',
                    title: '结束方式',
                    formatter: function (value, row, index) {
                        var auto = row.auto;
                        if (auto == true) {
                            return "自动"
                        } else if (auto == false) {
                            return "手动";
                        } else {
                            return "--";
                        }

                    },
                }, {
                    field: 'status',
                    title: '工单状态',
                    formatter: function (value, row, index) {
                        var status = row.status;
                        if (status == 0) {
                            return "创建"
                        } else if (status == 1) {
                            return "排产";
                        } else if (status == 2) {
                            return "执行中";
                        } else if (status == 3) {
                            return "完成";
                        } else if (status == 12) {
                            return "未结单";
                        } else if (status == 4) {
                            return "--";
                        }else {
                            return "";
                        }
                    },
                },{
                    field: 'actionEvent',
                    title: '平衡率公式',
                    align: 'center',
                    valign: 'middle',
                    formatter: actionFormatter,
                    events: operateEvents
                    }, {
                        field: 'actionEvent',
                        title: '操作',
                        align: 'center',
                        valign: 'middle',
                        formatter: actionFormatter,
                        events: operateEvents
                    }
                ]
            });

            ///虚拟线联动时候，查询该虚拟线下有几台设备
            $("#lineidSelect").select2();
            $("#lineidSelect").on("select2:select", function () {
                var lineid = $(this).val();
                $.ajax({
                    type: "get",
                    url: '/Order/GetmachineCount?lineid=' + lineid,
                    async: true,
                    success: function (data) {
                        $("#labeltext").text("该虚拟线下有" + data + "台设备，请输入" + data + "台设备的标准工时，并以 ；隔开");
                        document.getElementById('labeltext').style.color = "red ";
                    }
                });
            });
        });
        //操作栏的格式化
        function actionFormatter(value, row, index) {
            var id = value;
            var result = "";
            result += "<a class='edit ml10'; href='javascript:;'  title='编辑'  style='font-size:32px;'><span class='icon-edit-sign'></span></a>";
            result += "<a class='remove ml10';  href='javascript:;' title='删除' data-toggle='modal'  style='font-size:32px;'><span class='icon-trash'></span></a>";
            return result;
        }

        window.operateEvents = {
            'click .edit': function (e, value, row, index) {
                document.getElementById("id").value = row.id;
                document.getElementById("work_order").value = row.work_order;
                document.getElementById("part_num").value = row.part_num;
                document.getElementById("standard_num").value = row.standard_num;
                //document.getElementById("order_index").value = row.order_index;
                $("#shiftSelect").attr('value', row.shift);
                $("#shiftSelect").select2();
                $("#autoSelect").attr('value', row.auto);
                $("#autoSelect").select2();
                if (row.status == 2) {
                    alert("执行中的工单不允许修改");
                     toastr.error('执行失败!');
                } else {
                    $("#wostatusSelect").attr('value', row.status);
                    $("#wostatusSelect").select2();
                    $("#shiftSelect").attr('value', row.shift);
                    $("#shiftSelect").select2();
                    $("#lineidSelect").attr('value', row.virtual_line_id);
                    $("#lineidSelect").select2();

                    document.getElementById("standard_time").value = row.standard_time;
                    $('#myEditModal').modal('show');
                }
            },
            'click .remove': function (e, value, row, index) {
                document.getElementById("id").value = row.id;
                $('#myDelModal').modal('show');

            }
        };

        function clean() {
            $('#myEditModal').modal('show');
            $("#labeltext").text("");
            document.getElementById("id").value = 0;
            document.getElementById("work_order").value = "";
            document.getElementById("part_num").value = "";
            document.getElementById("standard_num").value = 0;
            document.getElementById("standard_time").value = "";
            //document.getElementById("order_index").value = 0;
            $("#shiftSelect").val('' + 0 + '').select2();
            $("#autoSelect").val('' + 0+ '').select2();
            $("#wostatusSelect").val('' + -1 + '').select2();
            $("#lineidSelect").val('' + 0 + '').select2();

        }

        function Delete() {
            var id = $('#id').val();
            var person = {
                id: id
            };
            $.ajax({
                type: "POST",
                url: "/Order/Delete",
                data: JSON.stringify(person),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (msg) {
                    if (msg == "Success") {
                        toastr.success('数据删除成功!');
                        $('#myDelModal').modal('hide');
                        $('#table').bootstrapTable('refresh');
                    } else {
                        toastr.error('执行失败!');
                    }
                }, error: function (msg) {
                    toastr.error('执行失败!');
                }
            });

        }
        function finish() {
            var id = $('#id').val();
            var work_order = $('#work_order').val();
            var part_num = $('#part_num').val();
            var standard_num = $('#standard_num').val();
            var shiftSelect = $('#shiftSelect').val();
            var autoSelect = $('#autoSelect').val();
            var wostatusSelect = $('#wostatusSelect').val();
            var lineidSelect = $('#lineidSelect').val();
            var standard_time = $('#standard_time').val();
            //var order_index = $('#order_index').val();
            var wo = {
                id: id,
                work_order: work_order,
                part_num: part_num,
                standard_num: standard_num,
                shift: parseInt(shiftSelect),
                auto: Boolean(autoSelect),
                status: parseInt(wostatusSelect),
                virtual_line_id: parseInt(lineidSelect),
                standard_time: standard_time,
                //order_index: order_index
                order_index:0

            };
            if (id != 0) {
                $.ajax({
                    type: "POST",
                    url: "/Order/Update",
                    data: JSON.stringify(wo),
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function (msg) {
                        if (msg == "Success") {
                            toastr.success('数据更新成功!');
                            $('#myEditModal').modal('hide');
                            $('#table').bootstrapTable('refresh');
                              getOptionWO();
                            $("#wo").empty();

                        } else {
                            toastr.error('执行失败!工单已存在');
                        }
                    }, error: function (msg) {
                        toastr.error('执行失败!');
                    }
                });
            } else {
                $.ajax({
                    type: "POST",
                    url: "/Order/Add",
                    data: JSON.stringify(wo),
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function (msg) {
                        if (msg == "Success") {
                            toastr.success('数据新增成功!');
                            $('#myEditModal').modal('hide');
                            $('#table').bootstrapTable('refresh');
                               getOptionWO();
                            $("#wo").empty();
                        } else {
                            toastr.error('执行失败!工单已存在');
                        }
                    }, error: function (msg) {
                        toastr.error('执行失败!');
                    }
                });

            }

        }
        function search() {
            var create_time = new Date(Date.parse($("#create_time").val()));
            var end_time = new Date(Date.parse($("#end_time").val()));
            var wo = $("#wo").val();
            var woSelect = $("#woSelect").val();
            $('#table').bootstrapTable('filterBy', { create_time: create_time, end_time: end_time, work_order: wo, status: woSelect },
                {
                    //自定义刷选函数
                    'filterAlgorithm': function (row, filters) {
                        var result1 = true;//定义一个返回结果
                        var result2 = true;
                        var result3 = true;
                        if (new Date(Date.parse(row.create_time.toLocaleString())) >= filters.create_time && new Date(Date.parse(row.create_time.toLocaleString())) <= filters.end_time) {
                            result1 = true;
                        } else {
                            result1 = false;
                        }
                        if (filters.work_order != "") {
                            result2 = filters.work_order == row.work_order;
                        }
                        if (filters.status > 0) {
                            result3 = filters.status == row.status;
                        }
                        return result1 && result2 && result3;
                    }
                });
        }
        function getOption() {
            $.ajax({
                type: "get",
                url: '/Order/Getline',
                async: true,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#lineidSelect").append('<option  value=' + data[i].id + '>' + data[i].name_cn + '</option>');
                    }
                }
            });
        }
         function getOptionWO() {
            $.ajax({
                type: "get",
                url: '/Order/GetData',
                async: true,
                success: function (data) {
                     $("#namecn").empty();
                      $("#namecn").append('<option  value=' + 0 + '>请选择</option>');
                    for (var i = 0; i < data.length; i++) {
                        $("#wo").append('<option  value=' + data[i].work_order + '>' + data[i].work_order + '</option>');
                    }
                }
            });
        }

    </script>
</head>
<body>
    <div class='row-fluid'>
        <div class="span12">
            <div class='page-header'>
                <div class='pull-left' style="font-size:18px">
                    <a  style="color:#008FD7;font-weight:600"><span>安灯异常管理</span></a>
                    <i class='icon-angle-right'></i>
                    <span>工单信息</span>
                </div>


            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12 box bordered-box'>
            <div class="box-content box-padding">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="name">创建时间</label>
                    </div>
                    <div class="control-group">
                        <div class='input-append date daypicker' id='datetimepicker'>
                            <input class='span9' type="text" id="create_time" style="margin-top:10px" placeholder='2000-01-01' />
                            <span class='add-on' style="margin-top:12px">
                                <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="name">截至时间</label>
                    </div>
                    <div class="control-group">
                        @*<label class="control-label">截至时间</label>*@
                        <div class='input-append date daypicker' id='datetimepicker'>
                            <input class='span9' type="text" id="end_time" style="margin-top:10px" placeholder='2000-01-01' />
                            <span class='add-on' style="margin-top:12px">
                                <i data-date-icon='icon-calendar' data-time-icon='icon-time' class="icon-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="name">工单</label>
                    </div>
                    <div class="form-group">
                        <select class="select2" id="wo">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="name">工单状态</label>
                    </div>
                    <div class="form-group">
                        <select class="select2" id="woSelect">
                            <option value="-1">请选择</option>
                            <option value="0">创建</option>
                            <option value="1">排产</option>
                            <option value="2">执行中</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button onclick="search()" type="submit" data-toggle='modal' class="btn btn-primary"><span class="icon-search"> 查询</span></button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12 box bordered-box'>
            <div class="box-content box-padding">

                <div style="padding:14px 0px">
                    <div class="form-group">
                        <button class="btn btn-primary" onclick="clean()" data-toggle='modal'><span class="icon-plus"> 新增</span></button>
                    </div>
                </div>

                <table class="table" id="table"></table>
            </div>
            <!-- 编辑模态框（Modal） -->
            <div class="modal fade" id="myEditModal" style="display:none">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                新增/编辑
                            </h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" class="span12" id="id" name="id" />

                            <div class="control-group">
                                <label class="control-label">工单</label>
                                <input class="span12" type="text" id="work_order" name="work_order" />
                            </div>
                            <div class="control-group">
                                <label class="control-label">机种</label>
                                <input class="span12" type="text" id="part_num" name="part_num" />
                            </div>
                            <div class="control-group">
                                <label class="control-label">标准数量</label>
                                <input class="span12" type="text" id="standard_num" name="standard_num" />
                            </div>
                            @*<div class="control-group">
                                <label class="control-label">执行序号</label>
                                <input class="span12" type="text" id="order_index" name="order_index" />
                            </div>*@
                            <div class="control-group">
                                <label class="control-label">班次</label>
                                <select class="select2 span12" id="shiftSelect" name="shiftSelect" style="width:100%">
                                    <option value="0">请选择</option>
                                    <option value="1">白班</option>
                                    <option value="2">夜班</option>
                                </select>
                            </div>
                            <div class="control-group">
                                <label class="control-label">结束方式</label>
                                <select class="select2 span12" id="autoSelect" name="autoSelect" style="width:100%">
                                    <option value="0">请选择</option>
                                    <option value="true">自动</option>
                                    <option value="false">手动</option>
                                </select>
                            </div>
                            <div class="control-group">
                                <label class="control-label">工单状态</label>
                                <select class="select2 span12" id="wostatusSelect" name="wostatusSelect" style="width:100%">
                                    <option value="-1">请选择</option>
                                    <option value="0">创建</option>
                                    <option value="1">排产</option>
                                </select>
                            </div>
                            <div class="control-group">
                                <label class="control-label">虚拟线</label>
                                <select class="select2 span12" id="lineidSelect" name="lineidSelect" style="width:100%">
                                    <option value="0">请选择</option>
                                </select>
                            </div>
                            <div class="control-group">
                                <label class="control-label">标准工时</label>
                                <input class="span12" type="text" id="standard_time" name="standard_time" /><label class="control-label" id="labeltext"></label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" onclick="finish()" class="btn btn-primary">
                                确认
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <!-- 删除模态框（Modal） -->
            <div class="modal fade" id="myDelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                删除
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div>是否确认删除该条记录？</div>
                            <input type="hidden" id="deleteId" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                否
                            </button>
                            <button type="button" onclick="Delete()" class="btn btn-primary">
                                是
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>
</body>
</html>